.col-about {
	@extend %flex-centered;
	@include tablet {
		height: 70vh;
	}
	@include mobile {
		padding: 0 !important;
	}
}

.col-about-middle {
		@include tablet {
			align-items: flex-start !important;
	}
}


.col-signature {
	display: flex;
	justify-content:flex-start;
	align-items: flex-end;
	height: 30vh;
	@include tablet {
		padding-left: 2%;
	}
	@include mobile {
		padding: 0 !important;
	}
}
.signature {
	font-size: 3.5rem;
	font-family: $base-font-family;
	font-weight: 900;
	color: $base-color-2;
	@include tablet {
		display: block;
		width: 80%;
		text-decoration:underline;
	}
	@include mobile {
		font-size: 2.2rem;
		margin-top: 69%;
		padding: 3%;
		background-color: rgba(255, 255, 255, 0.8);
	}
}
.signature-teaching {
	@include mobile {
		font-size: 3.5rem;
		text-align: center;
	}
	a {
		color: inherit !important;
	}
}
.signature-learn {
	@include mobile {
		font-size: 2.5rem;
		margin-top: 8vh;
		background-color: transparent;
		font-weight: 900;
	}
}
.col-signature-learn {
	@include mobile {
		justify-content: center !important;
		align-items: center !important;
		height: 100vw;
	}
}
.signature-photomkd {
	span {
		color: white;
		text-decoration: none !important;
		font-size: 1.6rem;
		font-weight: 900;
	}
}
%square {
	width: 23vw;
	height: 23vw;
	@include mobile {
		width: 100vw;
		height: 100vw;
	}
	
}


.square1 {
		@extend %square;
		background-image: url('#{$path-img}/mkd_color.jpg');
		background-size: cover;
		background-position: center;
				
	
}
.square1-learn {
	@extend %square;
	background-image: url('#{$path-img}/mkd_photo.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: flex-end;
}
.square-text {
	font-size: 1.1rem;
	@include mobile {
		font-size: 1.5rem;
		}
	font-weight: 300;
	color: white;
	padding: 0 5% 5% 5%;
}
.square2 {
	@extend %square;
	
}
.square3 {
	@extend %square;
	
}
.square4 {
	@extend %square;
	
}

.square2 h2, .square3 h2, .square4 h2 {
	color: white;
	margin-left: 4.5%;
	margin-top: 5%;
	font-weight: 600;
}





.square2-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}

.square3-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}
.square4-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}


    