// 


.signature-photomkd {
	span {
		color: white;
		text-decoration: none !important;
		font-size: type-scale(+3);
		font-weight: $ultra-bold;
	}
}

.square {
	width: 23vw;
	height: 23vw;
	@include mobile {
		width: 100vw;
		height: auto;
	}
	@include tablet-only {
		width:40vw;
		height:40vw
	}
	@include medium-device-portrait {
		width:40vw;
		height: 40vw;
	}
	@include m('about') {
		
		@include mobile {
			
			background-color: $clr-adjacent-3;
		}
		@include mobile-landscape {
			height: 15rem;
			width: 100%
		}
		@include tablet-only {
			width: 35vw;
			height: auto;
		}
		@include medium-device-portrait {
			width: 23vw;
			height: 23vw;
		}
		
	}
	@include m('learn') {
		@include mobile-landscape {
			width: 100%;
			height: 100%;
			padding-top: 15vh;
		}
		
	}
	@include e('photo') {
		@include bg-img('mkd_color.jpg');
		background-size: cover;
		background-position: center;
		@include mobile {
			height: 100vw;
		}
		@include mobile-landscape {
			height: 15rem;
		}
				
		@include m('learn') {
			@include bg-img('mkd_photo.jpg');
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}
	@include e('title') {
			color: white;
			font-weight: $bold;
		@include m('about') {
			padding-left: 4%;
			@include font-size(+2);
			@include mobile {
				padding: 5% 5% 5% 5%;
			}
			@include mobile-landscape {
				padding: 3% 3% 3% 5%;
				font-size: type-scale--mobile(-2);
			}
			@include tablet {
				border-radius: 20px;
			}
		}
		@include m('left') {
			background-color: $clr-secondary;
		}
		@include m('middle') {
			background-color: $clr-primary;
		}
		@include m('right') {
			background-color: $clr-adjacent-1;
		}
		
		@include m('learn') {
			margin-left: 4.5%;
			margin-top: 5%;
			
		}
	}
	@include e('text') {
	font-weight: $thin;
	color: white;
	padding: 0 5% 5% 5%;
		@include m('about') {
			@include font-size(+0.5);
			@include tablet-only {
				font-size: type-scale--mobile(0);
			}
			@include mobile-landscape {
				font-size: type-scale--mobile(-2);
			}
		}
		@include m('learn') {
			@include font-size(+3);
			@include mobile-landscape {
				font-size: type-scale--mobile(+1);
			}
			@incldue medium-device {
				font-size: type-scale(+3);
			}
			@include medium-device-portrait {
				font-size: 2.5rem !important;
			}
		}
		
	}
	
}

.square2-about, .square4-about {
	@include mobile-landscape {
		border-left: 1px solid white;
	}
}










    