.col-about {
	@extend %flex-centered;
	@include medium-device {
		height: 70vh;
	}
	@include medium-device-portrait {
		height: 30vh;
	}
	@include tablet-only {
		height: auto;
	}
	@include mobile {
		padding: 0 !important;
	}
}

.col-about-middle {
		@include tablet {
			align-items: flex-start !important;
	}
}


.col-signature {
	display: flex;
	justify-content:flex-start;
	align-items: flex-end;
	height: 30vh;
	@include tablet {
		padding-left: 2%;
	}
	@include mobile {
		padding: 0 !important;
	}
	@include mobile-landscape {
		height: auto;
		justify-content: center;
		align-items: center;
	}
}
.col-signature-about {
	@include mobile-landscape {
		background-color: $clr-adjacent-3;
	}
	@include medium-device-portrait {
		height: auto;
	}
	@include tablet-only {
		height: 18vh !important;
	}
}

.col-signature-learn {
	@include mobile {
		justify-content: center !important;
		align-items: center !important;
		background-size: cover;
		height: 100vw;
		@include bg-img('Warsaw-center-mob.jpg');
		margin-top: 7vh;
	}
}
.signature-photomkd {
	span {
		color: white;
		text-decoration: none !important;
		font-size: type-scale(+3);
		font-weight: $ultra-bold;
	}
}
%square {
	width: 23vw;
	height: 23vw;
	@include mobile {
		width: 100vw;
		height: 100vw;
	}
	@include tablet-only {
		width:40vw;
		height:40vw
	}
	@include medium-device-portrait {
		width:40vw;
		height: 40vw;
	}
	
	
}

.square-about {
	height: 23vw;
	width: 23vw;
	@include tablet-only {
		width: 35vw;
		height: auto;
	}
	@include mobile {
		width: 100vw;
		height: 100vw;
		background-color: $clr-adjacent-3;
	}
	@include mobile-landscape {
		height: 15rem;
		width: 100%
	}
}
.square1 {
		@extend %square;
		@include bg-img('mkd_color.jpg');
		background-size: cover;
		background-position: center;
		@include mobile-landscape {
			height: 15rem;
			width: 100%;
		}
				
	
}
.square1-learn {
	@extend %square;
	@include bg-img('mkd_photo.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: flex-end;
}
.square-text {
	@include font-size(+0.5);
	font-weight: $thin;
	color: white;
	padding: 0 5% 5% 5%;
	@include tablet-only {
		font-size: type-scale--mobile(0);
	}
	@include mobile-landscape {
		font-size: type-scale--mobile(-2);
	}
}
.square2 {
	@extend %square;
	
}
.square3 {
	@extend %square;
	
}
.square4 {
	@extend %square;
	
}
.square2-about, .square4-about {
	@include mobile-landscape {
		border-left: 1px solid white;
	}
}

.square2 h2, .square3 h2, .square4 h2 {
	color: white;
	margin-left: 4.5%;
	margin-top: 5%;
	font-weight: $bold;
}





.square2-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}

.square3-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}
.square4-learn > h2 > span {
	@include tablet {
		
		padding: 1%;
	}
}


    