//About Div - Background

.bg-about {
	background-position:right;
	background-image: url('#{$path-img}/mkd_color_nobg.png');
	background-repeat: no-repeat;
	background-color: $adjacent-bg-color-2;
	padding: 15px;
	background-size: 35%;
	@include mobile {
		background: none;
		padding: 0;
		height: auto;
	}
	//background-image: url('#{$path-img}/about.jpeg');//
}
.bg-learn {
	@extend %fullpage-bgimage;
	@include mobile {
		background-size: 100% 57% !important;
	}
}

// Contact Div - Background
.bg-contact {
	background-image: url('#{$path-img}/prague2.jpg');	
	background-size: cover;
	background-attachment: fixed;
	height: 1200px !important;
}

#translation {
	@include mobile {
		padding-bottom: 5%;
	}
}


.bg-dimgray {
	background-color: dimgray;
}
.bg-darkgrey {
	background-color: $nav-and-background-color;
}

.changeWidth {
    width: 600px;
}
.bg-belt {
	@extend %flex-centered;
	height: 20vh;
	@include mobile {
		height: auto;
	}


	&-green {
	background-color: $base-color-3;
	}
	
	&-purple {
	background-color: $base-color-2;
	}
	&-blue1 {
		@include tablet {
			background-color: #c7deea;
		}
	}
	&-blue2 {
		@include tablet {
				
			background-color: #e1e5e8;
		}
	}
} 
.bg-belt-learn {
	border-bottom: 10px dotted white;
	border-top: 10px dotted white;
}

// Subpages header images

.subpage-header {
    
    background-position: center;
	@extend %flex-centered;
  	&-termsconditions {
		@extend .subpage-header;
		background-image: url('#{$path-img}/termsandconditions.jpg');
		height: 20vh;
	}
	&-translation {
		@extend .subpage-header;
		background-image: url('#{$path-img}/translation.jpg');
		height: 40vh;
	}
}
// Contact form + Nav Container
#form-page, .navigation-container-purple  {
	background-color: $base-color-2;
	
}
// Teaching

.square-polish {
	@extend %square;
	background-size: cover;
	background-position: center;
	background-image: url('#{$path-img}/cracow-mob.jpeg');
	padding: 0;
	@include tablet {
		
		margin-right: 15px;
		box-shadow: 3px 3px 8px 0 $nav-and-background-color;
	}
	
}
.square-french {
	@extend %square ;
	background-size: cover;
	background-position: center;
	background-image: url('#{$path-img}/paris-mob.jpg');
	padding: 0;
	@include tablet {
		
		margin-left: 15px;
		box-shadow: 3px 3px 8px 0 $nav-and-background-color;
	}
	
}

.border-white {
	@include tablet {
		border-right: 2px solid white;
	}
}
.square-grayscale {
	width: 100%;
	height: 23vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.square-grayscale-polish {
	 background-image: url('#{$path-img}/cracow-mob-gray.jpeg');
	background-size: cover;
	background-position: center;
         
     }
.square-grayscale-french {
	background-image: url('#{$path-img}/paris-mob-gray.jpeg');
	background-size: cover;
	background-position: center;
}

// Learn

.triangle-learn {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	top: 70%;
	
}
.bg-headline-home1 {
	color:white;
	background-color: $base-color-3;
	padding: 0.5%;
}
.bg-headline-home2 {
	color: white;
	background-color: $base-color-2;
	padding: 0.5%;
}

   





