//About Div - Background

.bg-about {
	@include bg-img('mkd_color_nobg.png');
	background-position: right;
	background-color: $clr-adjacent-3;
	padding: 15px;
	background-size: 35%;
	@include tablet-only {
		background-size: 60%;
	}
	@include mobile {
		background: none;
		padding: 0;
		height: auto;
	}
	
	//background-image: url('#{$path-img}/about.jpeg');//
}
.bg-learn {
	@extend %fullpage-bgimage;
	@include bg-img('Warsaw-center.jpg');
	@include mobile {
		background: none;
	}
}


#translation {
	@include mobile {
		padding-bottom: 5%;
	}
}


.bg {
	&-dimgray {
		background-color: dimgray;
	}
	&-darkgrey {
		background-color: $clr-adjacent-5;
	}
	&-white {
		background-color: white !important;
	}
}

.changeWidth {
    width: 600px;
}
.bg-belt {
	@extend %flex-centered;
	height: 20vh;
	
	@include medium-device-portrait {
		height: 10vh;
	}
	@include tablet-only {
		height: 10vh;
	}
	@include mobile {
		height: auto;
	}


	&-green {
	background-color: $clr-secondary;
	}
	
	&-purple {
	background-color: $clr-primary;
	}
	&-blue1 {
		@include tablet {
			background-color: $clr-adjacent-3;
		}
	}
	&-blue2 {
		@include tablet {
				
			background-color: #e1e5e8;
		}
	}
	
} 


// Subpages header images

.subpage-header {
    
    background-position: center;
	@extend %flex-centered;
  	&-termsconditions {
		@extend .subpage-header;
		@include bg-img('termsandconditions.jpg');
		height: 20vh;
	}
	&-translation {
		@extend .subpage-header;
		@include bg-img('translation.jpg');
		height: 30vh;
		
		@include medium-device-portrait {
			height: 15vh;
		}
		
	}
}
// Contact form + Nav Container
#form-page, .navigation-container-purple  {
	background-color: $clr-primary;
	
}
// Teaching

.learn-polish{
		
		height: 72vh;
		@include mobile {
			height: 120vw;
		}
		@extend %flex-column;
		align-items: center;
		justify-content: space-around;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
		@include mobile {
			@include bg-img('warsaw_old_town_mob.jpg');
		}
		@include tablet {
			@include bg-img('warsaw_old_town_2.jpg');
		}
		
		padding: 0;
}


// Learn

.triangle-learn {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	top: 70%;
	
}
.bg-headline-home1 {
	color:white;
	padding: .3rem;
	font-weight: $bold;
	background-color: $clr-secondary;
	
}
.bg-headline-home2 {
	color: white;
	padding: .5rem;
	background-color: $clr-primary;
	
	
}

.learn-pricing-modes table {
	

	width: 80%;
	margin: 0 auto;
	margin-top: 2vh;
	td, th{
		border: 1px solid $clr-tertiary !important;
		@include font-size(0);
	}
	
	
}
.bg-fullpage {
	@extend %fullpage-bgimage;
	@include m(solutions-and-services) {
		@include bg-img('office_services_min.jpg');
	}
	@include m(page-learn) {
		@include bg-img('Warsaw-center.jpg');
	}
	@include mobile {
		background: none;
	}
}
		
		
#services_content {
	
	@include tablet {
		overflow: hidden;
		background-color: rgba(83,78,75, 0.5);
	}
		
}

   





