//About Div - Background

.bg-about {
	background-position:right;
	background-image: url('#{$path-img}/mkd_color_nobg.png');
	background-repeat: no-repeat;
	background-color: $adjacent-bg-color-2;
	padding: 15px;
	background-size: 35%;
	@include tablet-only {
		background-size: 60%;
	}
	@include mobile {
		background: none;
		padding: 0;
		height: auto;
	}
	
	//background-image: url('#{$path-img}/about.jpeg');//
}
.bg-learn {
	@extend %fullpage-bgimage;
	background-image: url('#{$path-img}/Warsaw-center.jpg');
	@include mobile {
		background: none;
	}
}

// Contact Div - Background
.bg-contact {
	background-image: url('#{$path-img}/prague2.jpg');	
	background-size: cover;
	background-attachment: fixed;
	height: 1200px !important;
}

#translation {
	@include mobile {
		padding-bottom: 5%;
	}
}


.bg {
	&-dimgray {
		background-color: dimgray;
	}
	&-darkgrey {
		background-color: $nav-and-background-color;
	}
	&-white {
		background-color: white !important;
	}
}

.changeWidth {
    width: 600px;
}
.bg-belt {
	@extend %flex-centered;
	height: 20vh;
	
	@include medium-device-portrait {
		height: 10vh;
	}
	@include tablet-only {
		height: 10vh;
	}
	@include mobile {
		height: auto;
	}


	&-green {
	background-color: $base-color-3;
	}
	
	&-purple {
	background-color: $base-color-2;
	}
	&-blue1 {
		@include tablet {
			background-color: $adjacent-bg-color-3;
		}
	}
	&-blue2 {
		@include tablet {
				
			background-color: #e1e5e8;
		}
	}
	
} 


// Subpages header images

.subpage-header {
    
    background-position: center;
	@extend %flex-centered;
  	&-termsconditions {
		@extend .subpage-header;
		background-image: url('#{$path-img}/termsandconditions.jpg');
		height: 20vh;
	}
	&-translation {
		@extend .subpage-header;
		background-image: url('#{$path-img}/translation.jpg');
		height: 30vh;
		
		@include medium-device-portrait {
			height: 15vh;
		}
		
	}
}
// Contact form + Nav Container
#form-page, .navigation-container-purple  {
	background-color: $base-color-2;
	
}
// Teaching

.learn-polish{
		
		height: 72vh;
		@include mobile {
			height: 120vw;
		}
		@extend %flex-column;
		align-items: center;
		justify-content: space-around;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
		@include mobile {
			background-image: url('#{$path-img}/warsaw_old_town_mob.jpg');
		}
		@include tablet {
			background-image: url('#{$path-img}/warsaw_old_town_2.jpg');
		}
		
		padding: 0;
}

.square-french {
	@extend %square ;
	background-size: cover;
	background-position: center;
	background-image: url('#{$path-img}/paris-mob.jpg');
	padding: 0;
	@include tablet {
		
		margin-left: 15px;
		box-shadow: 3px 3px 8px 0 $nav-and-background-color;
	}
	@include tablet-only {
		width: 33.33vw !important;
		height: 33.33vw !important;
	}
	
}


.square-grayscale {
	width: 100%;
	height: 23vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.square-grayscale-polish {
	 background-image: url('#{$path-img}/cracow-mob-gray.jpeg');
	background-size: cover;
	background-position: center;
         
     }
.square-grayscale-french {
	background-image: url('#{$path-img}/paris-mob-gray.jpeg');
	background-size: cover;
	background-position: center;
}

// Learn

.triangle-learn {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	top: 70%;
	
}
.bg-headline-home1 {
	color:white;
	padding: .3rem;
	font-weight: 600;
	background-color: $base-color-3;
	
}
.bg-headline-home2 {
	color: white;
	padding: .5rem;
	background-color: $base-color-2;
	
	
}

.learn-pricing-modes table {
	width: 80%;
	margin: 0 auto;
	margin-top: 2vh;
	td, th{
		border: 1px solid $adjacent-bg-color-4 !important;
	}
	
	
}
#solutions-services {
	
	
	@include tablet {
		background-size: cover;
		width: 100%;
		height: 100vh;
		background-attachment: fixed;
		background-image: url('#{$path-img}/office_services_min.jpg');
	}
	
	
}
#services_content {
	
	@include tablet {
		overflow: hidden;
		background-color: rgba(83,78,75, 0.5);
	}
		
}

   





