// Hero 

.element-with-video-bg {
	@include mobile {
		background-size: cover;
		width: 100%;
		height: 100vh;
		background-attachment: fixed;
		background-image: url('#{$path-img}/White-Keyboard.jpg');
	}
}

//About Div - Background


.bg-about {
	@include bg-img('mkd_color_nobg_min.png');
	background-position: right;
	@include large {
		background-position: right bottom;
	}
	background-color: $clr-adjacent-3;
	padding: 15px;
	background-size: 35%;
	@include tablet-only {
		background-size: 60%;
	}
	@include mobile {
		background: none;
		padding: 0;
		height: auto;
	}
	
	//background-image: url('#{$path-img}/about.jpeg');//
}
.bg-learn {
	@extend %fullpage-bgimage;
	@include bg-img('Warsaw-center.jpg');
	@include mobile {
		background: none;
	}
}


#translation {
	@include mobile {
		padding-bottom: 5%;
	}
}


.bg {
	&-dimgray {
		background-color: dimgray;
	}
	&-darkgrey {
		background-color: $clr-adjacent-5;
	}
	&-white {
		background-color: white !important;
	}
}

.changeWidth {
    width: 600px;
}
.bg-belt {
	@extend %flex-centered;
	height: auto;
	
	&-green {
	background-color: $clr-secondary;
	}
	
	&-purple {
	background-color: $clr-primary;
	}
	
	
} 


// Subpages header images

.subpage-header {
    
    background-position: center;
	@extend %flex-centered;
  	&-termsconditions {
		@extend .subpage-header;
		@include bg-img('termsandconditions.jpg');
		height: 20vh;
	}
	&-translation {
		@extend .subpage-header;
		@include bg-img('translation.jpg');
		height: 30vh;
		
		@include medium-device-portrait {
			height: 15vh;
		}
		
	}
}
// Contact form + Nav Container
#form-page, .navigation-container-purple  {
	background-color: $clr-primary;
	
}
// Teaching

.learn-polish{
		
		height: 72vh;
		@include mobile {
			height: 120vw;
		}
		@extend %flex-column;
		align-items: center;
		justify-content: space-around;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
		@include mobile {
			@include bg-img('warsaw_old_town_mob.jpg');
		}
		@include mobile-landscape {
			@include bg-img('warsaw_old_town_2_mob_lscape.jpg');
			height: 100vh;
			background-attachment: scroll;
			justify-content: space-evenly;
		}
		@include tablet {
			@include bg-img('warsaw_old_town_2.jpg');
		}
		
		padding: 0;
}


// Learn

.triangle-learn {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	top: 70%;
	
}
%bg-headline {
	padding: .3rem;
	font-weight: $bold;
	border-radius: 15px;
	color: white;
	
}
.bg-headline-home1 {
	@extend %bg-headline;
	background-color: $clr-secondary;
}
.bg-headline-home2 {
	@extend %bg-headline;
	background-color: $clr-primary;
	
}
.bg-headline-learn {
	@extend %bg-headline;
	background-color: $clr-tertiary;
}

.learn-pricing-modes table {
	

	width: 80%;
	margin: 0 auto;
	margin-top: 2vh;
	td, th{
		border: 1px solid $clr-tertiary !important;
		@include font-size(0);
	}
	
	
}
.bg-fullpage {
	@extend %fullpage-bgimage;
	
	@include m(page-learn) {
		@include bg-img('Warsaw-center.jpg');
	}
	@include mobile {
		background: none;
	}
}
.bg-services  {
	@include bg-img('diagmonds--light-blue.png');
	height: 100%;

}	

#services-content {
	position: relative;
	@include medium-device {
		height: 55vh;
	}
	@include tablet-only {
		background: none !important;
	}
	@include mobile {
		background: none !important;
	}
	.container-fluid {
		overflow:hidden;
	}
}
		
#services_content {
	
	@include tablet {
		overflow: hidden;
		background-color: /*rgba(83,78,75, 0.5)*/ white;
	}
		
}

/*.col-services__core:hover {
	@include large {
		background-color: $clr-primary;
	}
}
.col-services__additional:hover {
	@include large {
		background-color: $clr-secondary;
	}
	subsection__container-icon--section-services {
		background-color: $clr-secondary;
	}
}*/
.separator {
	color: #fff;
}
.separator2 {
	color: transparent;
}
.separator::before, separator2::before {
	border-right: 30px solid transparent;
    left: 0;
	content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    z-index: 199;
    height: 0;
    width: 50%;
    border-bottom: 30px solid;
}
.separator::after, separator2::after {
	border-left: 30px solid transparent;
    right: 0;
	content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    z-index: 199;
    height: 0;
    width: 50%;
    border-bottom: 30px solid;
}

// squares in Learn page

.square2-learn {
	background-color: $clr-tertiary;
}
.square3-learn {
	background-color: $clr-primary;
}
.square4-learn {
	background-color: $clr-secondary
}



   





