/* base styles */


body {
	font-family: $base-font-family;
	position: relative;
	font-size: 16px;
    max-height: 100%;
    width: 100%;
}


html {
    max-height: 100%;
    width: 100%;
}

h2 {
	margin-top: 0;
	color: #777;
}
a:hover {
	text-decoration: none;
	font-weight: 700;
}

ul > li {
	list-style: none;
}

table {
  	border-collapse: collapse !important;
	width: 100%;
	
}


th, td {
	
	padding: 10px;
	text-align: center !important;
  	vertical-align: middle !important;
	width: (100%/3);
}

