.language-switcher {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	margin: 0 auto;
	
	p {
			
			text-align: center;
			height: 2.2rem;
			width: 2.2rem;
			display: inline-block;
			border: 0.1rem solid $base-color-2;
			margin: 0;
			@include mobile {
				height: 3rem;
				width: 3rem;
				margin: 10%;
			
			}
			a {
				font-family: $title-font-family;
				color: $base-color-2;
				font-size: 1.2rem;
				font-weight: 300; /* tu może jeszcze zmienną dać*/
				font-style: italic;
				text-transform: lowercase;
				display: inline-block;
				width: 2rem !important;
				height: 2rem !important;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				@include mobile {
					height: 3rem !important;
					width: 3rem !important;
					font-size: 1.6rem;
					
				}
				
				
				&:hover {
					background-color: $base-color-2;
					color: white !important;
				
				}
			}
		&:hover {
			background-color: $base-color-2;
		}

	}
}
.language-switcher-active {
	background-color: $base-color-2;
	color: white !important;
	font-family: $title-font-family;
}
.language-switcher-sidepages {
	@extend .language-switcher;
	@include tablet {
		right: 10vw !important;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	line-height: auto !important;
	p {
		line-height: 2.2rem !important;
		@include mobile {
			line-height: 3rem !important;;
		}
		&:hover {
			border: 0.1rem solid $base-color-2;
		}
		a {
			padding-top: 0 !important;
			&:hover {
				background-color: white;
				color: $base-color-2 !important;
			}
		}
	}
	
	
}
.language-switcher-homepage {
	
		z-index: 1500;
		
}

.headline-btn-container {
	width:100%;
	height: 45vh;
	display: flex;	
	justify-content:center;
		
	@include mobile {
		
		flex-flow: column  !important;
		align-items: center !important;
	}
	
}
.headline-btn-subcontainer {
	
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-left:1%;
		padding-right: 1%;
	@include mobile {
		height: 15vh;
	}
}

.headline-btn {
	z-index: 1001;
	padding: 10px;
	animation-name: closing;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	@include mobile {
		min-width: 50vw;
		margin: 3vw;
	}
	margin-bottom: 20px;
	
	
}

.btn-standard{
	
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5vh !important;
	margin-top: 5vh !important;
	min-width: 16vw;
	text-align:center;
	background: transparent;	
		&:hover a, &:hover span  {
			color: white;
		font-weight: 600;
			
			
		}
	@include medium-device {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
	
	
}
.btn-teal {
	@extend .btn-standard;
	border: 2px solid $base-color-1;
	a, span {
	color: $base-color-1;
		font-size: 1.5rem;
		
					
	}
	
	&:hover {
		background-color: $base-color-1;
	}
}
.btn-blue {
	@extend .btn-standard;
	border: 2px solid $base-color-3;
	a, span {
	color: $base-color-3;
		font-size: 1.5rem;
		
					
	}
	
	&:hover {
		background-color: $base-color-3;
	}
}

.btn-teal-bgfullcolor {
	@extend .btn-standard;
	border: 2px solid $base-color-1;
	background-color: $base-color-1;
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	margin-bottom: 8% !important;
	margin-top: 8% !important;
	
}
.btn-blue-bgfullcolor {
	@extend .btn-standard;
	border: 2px solid $base-color-3;
	background-color: $base-color-3;
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	margin-bottom: 8% !important;
	margin-top: 8% !important;
	@include medium-device {
		margin-bottom: 4% !important;
		margin-top: 4% !important;
	}
}

.btn-learn {
	@extend .btn-standard;
	border-width: 2px;
	border-style: solid;
	a, span {
	color: $base-color-2;
		font-size: 1.5rem;
		
					
	}
	
	&:hover {
		background-color: $base-color-2;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
	}
}
.btn-learn-bgfullcolor {
	@extend .btn-standard;
	border-width: 2px;
	border-style: solid;
	
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
	}
}

.btn-grey {
	@extend .btn-standard;
	border: 2px solid $nav-and-background-color;
	a, span {
		color: $nav-and-background-color;
		font-size: 1.5rem;
	}
	&:hover {
		background-color: $nav-and-background-color;
		
	}
}

.btn-how-i-teach {
	@extend .btn-standard;
		border: 2px solid $base-color-2;
		a, span {
	color: $base-color-2;
		font-size: 1.5rem;
							
	}
	&:hover {
		background-color: $base-color-2;
	}
}
     




.btn-quote:hover {
	border: 4px white solid;
	background-color: #0E365C;
	text-decoration: none;
	color: white;
}

.help:hover {
	background-color: rgba(255, 255, 255, 1);
	font-weight: 700;
}
.help:hover + .help span {
	background-color: rgba(0, 128, 128, 1);
	font-weight: 700;
}

.help span {
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
	height: 100%;
	display: inline-block;
	padding: 5px;
}

// to do poprawienia

.btn-submit {


	width: 15% !important;
	background-color: slategray;
	border-color: slategray;
	border-radius: 0;
	font-size: 1.8vw;
	padding: 15px;
	color: white;

}
//krzyżyk zamykakący

.closing {
    width: 30px;
	height: 30px;
    position: absolute;
    top: 2vh;
	left: 2vw;
    border-radius: 10%;
    background-color: #F04150;
	color: white;
	font-size: 1vw;
	font-weight: 600;
    -webkit-animation: closing 1s infinite;
	animation: closing 1s infinite;
    z-index: 10000;
    
	
}
.closing div {
	
	cursor: pointer;
    @extend %flex-centered;
    width: 100%;
    height: 100%;
   
}
//zamienić

// Navbar buttons

.btn-navbar {
	font-size: 1rem;
	margin-left: 50px;
	padding: 10px;
	margin-bottom: 0;
	font-weight: 700;
	&-purple {
		color: $base-color-2;
		border: 2px solid $base-color-2;
		a {
			color: $base-color-2 !important;
		}
	}
	&-darkblue {
		color: $base-color-1;
		border: 2px solid $base-color-3;
		a {
			color: $base-color-3 !important;
		}
	}
	
}


.morespecialties, .pricing-buttons {
	@extend %flex-centered;
	@include medium-device {
		height: auto;
	}
	
	
}
.pricing-buttons {
	@include medium-device {
		margin-top: 5vh;
	}
}



.help {
	font-size: 4vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid rgba(0, 128, 128, 0.5);
	color: teal;
	
	left: -89px;
	top: 90vh;
	position: absolute;
	padding-right: 5px;
}
.help-learn {
	font-size: 4vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid rgba(128, 0, 128, 0.5);
	color: $base-color-2;
	left: -89px;
	top: 90vh;
	position: absolute;
	padding-right: 5px;
}

.help a {
    color: $base-color-1;
	
}
.help-learn a {
	color: $base-color-2;
}
.inner_border p a {
	color: white !important;
}
.inner_border p a:hover {
	color: white !important;
}

// Carousel left right buttons - Translations (mobile only)

.glyphicon-chevron-left, .glyphicon-chevron-right {
	font-size: 3rem;
	color: $base-color-1;
	top: 40% !important;
	padding: 8%;
	border-radius: 50%;
	color: white;
	
	
}

// Learn


.triangle {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	@include tablet {
		top: 90%;
	}
	margin: 0 auto;
	animation-name: buttonTriangle;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	

}

.triangle-mobile-purple {
	@include mobile {
		top: 83% !important;
	}
}
.triangle-mobile-blue {
	@include mobile {
		top: 60% !important;
	}
}

// Learn

.learn-btn-container {
	width:100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
		
}
.headline-btn-learn {
	margin-bottom: 0 !important;
	
}
	


