.language-switcher {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	margin: 0 auto;
	@include tablet-only {
		display: inline-block;
		margin: 0;
		
	}
	@include mobile-landscape {
		height: 80%;
	}
	p {
			
			border-radius: 15%;
			text-align: center;
			height: 2.2rem;
			width: 2.2rem;
			display: inline-block;
			border: 0.1rem solid;
			margin: 0;
			@include mobile {
				height: 2.5rem;
				width: 2.5rem;
				margin: 10%;
			
			}
			@include mobile-landscape {
				height: 12vh;
				width: 12vh;
		}
			a {
				font-family: $title-font-family;
				color: $clr-primary;
				@include font-size(+1);
				font-weight: $thin; /* tu może jeszcze zmienną dać*/
				font-style: italic;
				text-transform: lowercase;
				display: inline-block;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				@include mobile {
					height: 2.5rem;
					width: 2.5rem;
					
					
				}
				@include mobile-landscape {
					width: 12vh !important;
					height: 12vh !important;
					padding:0;
				}
				@include medium-device {
					width: 2rem !important;
					height: 2rem !important;
				}
				
				
				&:hover {
					//background-color: $clr-primary;
					color: white !important;
				
				}
			}
		&:hover {
			//background-color: $clr-primary;
		}

	}
}
.language-switcher-active {
	color: white !important;
	font-family: $title-font-family;
	
}
.language-switcher-sidepages {
	@extend .language-switcher;
	@include tablet {
		right: 10vw !important;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	line-height: auto !important;
	p {
		line-height: 2.2rem !important;
		@include mobile {
			line-height: 3rem !important;
		}
		&:hover {
			border: 0.1rem solid;
		}
		a {
			padding-top: 0 !important;
			&:hover {
				background-color: white;
				color: $clr-primary !important;
			}
		}
	}
	
	
}
.language-switcher-homepage {
	p {
		border: 0.1rem solid $clr-primary;
	}
		
}
.language-switcher-mob {
	top: 8vh;
	left:0;
	right:0;
	position: absolute;
}

.headline-btn-container {
	width:100%;
	height: 45vh;
	display: flex;	
	justify-content:center;
		
	@include mobile {
		
		flex-flow: column;
		align-items: center;
	}
	@include mobile-landscape {
		flex-flow: row !important;
		height: 35vh;
	}
	
}
.headline-btn-subcontainer {
	
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-left:1%;
		padding-right: 1%;
	@include mobile {
		height: 15vh;
	}
	@include mobile-landscape {
		height: auto;
		display: inline-block
		
	}
}

.headline-btn {
	z-index: 1001;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
	@include mobile {
		min-width: 60vw;
		margin: 3vw;
	}
	@include mobile-landscape {
		min-width: 20vw !important;
		margin: 0 !important;
		border-radius: 0.6em;
	}
	&:hover {
		padding: 20px;
	}
	
	
}

.btn-standard{
	
	padding: 10px;
	border-radius: 15px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5vh;
	min-width: 16vw;
	text-align:center;
	background: transparent;	
		&:hover a, &:hover span  {
			color: white;
		font-weight: 600;
			
			
		}
	@include medium-device {
		margin-bottom: 0 ;
		margin-top: 0 ;
	}
	@include mobile {
		margin-top: 0 ;
		width: 90%;
	}
	@include mobile-landscape {
		width: auto !important;
		margin-top: 5vh;
	}
	
	
	
}

.btn-blue {
	@extend .btn-standard;
	border: 2px solid $clr-secondary;
	a, span {
	color: $clr-secondary;
		font-size: 1.5rem;
		&:hover {
			color: white !important;
		}
		@include mobile-landscape {
			font-size: type-scale--mobile(0);
		}
		
					
	}
	
	&:hover {
		background-color: $clr-secondary;
	}
}


.btn-blue-bgfullcolor {
	@extend .btn-standard;
	border: 2px solid $clr-secondary;
	background-color: $clr-secondary;
	a, span {
		color: white;
		font-size: 1.5rem;
		@include mobile-landscape {
			font-size: type-scale--mobile(0) ;
		}
	}
	&:hover {
		font-size: 1.5rem;
	}
	@include mobile {
		margin-bottom: 8% !important;
		margin-top: 8% !important;
	}
	
	@include tablet {
		margin-bottom: 0;
		margin-top: 0;
	}
	@include medium-device {
		margin-bottom: 4% !important;
		margin-top: 4% !important;
	}
}

.btn-learn {
	@extend .btn-standard;
	border-width: 2px;
	border-style: solid;
	a, span {
	color: $clr-tertiary;
		font-size: type-scale(+3);
		@include mobile {
			font-size: type-scale--mobile(+2);
		}
		
					
	}
	
	&:hover {
		background-color: $clr-tertiary;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
		margin-top: 0;
		width: 90%;
	
	}
}
.btn-learn-bgfullcolor {
	@extend .btn-standard;
	border-width: 2px;
	border-style: solid;
	
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
	}
}


  
.btn-quote:hover {
	border: 4px white solid;
	background-color: #0E365C;
	text-decoration: none;
	color: white;
}


// Navbar buttons

.btn-navbar {
	font-size: type-scale(0);
	margin-left: 50px;
	padding: 10px;
	margin-bottom: 0;
	font-weight: $ultra-bold;
	border-radius: 15px;
	@include tablet-only {
		margin-left: 0;
	}
	&-purple {
		color: $clr-primary;
		border: 2px solid $clr-primary;
		a {
			color: $clr-primary !important;
		}
	}
	&-darkblue {
		color: $clr-adjacent-1;
		border: 2px solid $clr-secondary;
		a {
			color: $clr-secondary !important;
		}
	}
	
}


.morespecialties, .pricing-buttons {
	@extend %flex-centered;
	
	@include medium-device {
		max-height: 25vh;
	}
		@include mobile {
			flex-direction:column !important;
		}
		@include mobile-landscape {
			flex-direction: row !important;
	}
	}
	
	

.pricing-buttons {
	@include medium-device {
		margin-top: 5vh;
	}
}


// Carousel left right buttons - Translations (mobile only)

.glyphicon-chevron-left, .glyphicon-chevron-right {
	font-size: 3rem;
	color: $clr-adjacent-1;
	top: 40% !important;
	padding: 8%;
	border-radius: 50%;
	color: white;
	
	
}

// Learn


.triangle {
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	position: absolute;
	@include tablet {
		bottom:15px;
	}
	
	
	

}

.triangle-mobile-purple {
	@include mobile {
		top: 83% !important;
	}
}
.triangle-mobile-blue {
	@include mobile {
		top: 60% !important;
	}
}

// Learn

.learn-btn-container {
	width:100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
		
}
.headline-btn-learn {
	margin-bottom: 0 !important;
	z-index: 1001;
	padding: 10px;
	@include mobile {
		min-width: 50vw;
		margin: 3vw;
	}
	
	&:hover {
		padding: 20px;
	}
	
}
	


