.choose-language-languages {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	margin: 0 auto;
	p {
			font-family: $title-font-family;	
			text-align: center;
			height: 2.2rem;
			width: 2.2rem;
			display: inline-block;
			border: 0.1rem solid #fff;
			background-color: transparent;
			margin: 0;
			a {
				color: white !important;
				font-size: 1.2rem;
				font-weight: 300; /* tu może jeszcze zmienną dać*/
				font-style: italic;
				text-transform: lowercase;
				display: inline-block;
				width: 2rem !important;
				height: 2rem !important;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				
				
			}
			&:hover {
				background-color: rgba($base-color-2, 0.5);
				
		}
	}
}
.choose-language-languages-sidepages {
	@extend .choose-language-languages;
	right: 10vw !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: auto !important;
	p {
		line-height: 2.2rem !important;
		a {
			padding-top: 0 !important;
		}
	}
	
	
}

.headline-btn {
	background: transparent;
	border: 2px solid white;
	z-index: 1001;
	padding: 10px;
	min-width: 12vw;
	@include mobile {
		min-width: 50vw;
		margin: 3vw;
	}
	
	
	
}

.btn-standard{
	
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5vh !important;
	margin-top: 5vh !important;
	min-width: 16vw;
	
	background: transparent;	
		
	&:hover a, &:hover span  {
			color: white;
		font-weight: 600;
			
			
		}
	
	
}
.btn-teal {
	@extend .btn-standard;
	border: 2px solid $base-color-1;
	a, span {
	color: $base-color-1;
		font-size: 1.5rem;
		
					
	}
	
	&:hover {
		background-color: $base-color-1;
	}
}

.btn-teal-bgfullcolor {
	@extend .btn-standard;
	border: 2px solid $base-color-1;
	background-color: $base-color-1;
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	
}

.btn-purple {
	@extend .btn-standard;
	border: 2px solid $base-color-2;
	a, span {
	color: $base-color-2;
		font-size: 1.5rem;
		
					
	}
	
	&:hover {
		background-color: $base-color-2;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
	}
}
.btn-purple-bgfullcolor {
	@extend .btn-standard;
	border: 2px solid $base-color-2;
	background-color: $base-color-2;
	a, span {
		color: white;
		font-size: 1.5rem;
		}
	&:hover {
		font-size: 1.5rem;
	}
	@include mobile {
		margin: 0 auto;
		display: block;
	}
}

.btn-grey {
	@extend .btn-standard;
	border: 2px solid $nav-and-background-color;
	a, span {
		color: $nav-and-background-color;
		font-size: 1.5rem;
	}
	&:hover {
		background-color: $nav-and-background-color;
		
	}
}

.btn-how-i-teach {
	@extend .btn-standard;
		border: 2px solid $base-color-2;
		a, span {
	color: $base-color-2;
		font-size: 1.5rem;
							
	}
	&:hover {
		background-color: $base-color-2;
	}
}
     




.btn-quote:hover {
	border: 4px white solid;
	background-color: #0E365C;
	text-decoration: none;
	color: white;
}

.help:hover {
	background-color: rgba(255, 255, 255, 1);
	font-weight: 700;
}
.help:hover + .help span {
	background-color: rgba(0, 128, 128, 1);
	font-weight: 700;
}

.help span {
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
	height: 100%;
	display: inline-block;
	padding: 5px;
}

// to do poprawienia

.btn-submit {


	width: 15% !important;
	background-color: slategray;
	border-color: slategray;
	border-radius: 0;
	font-size: 1.8vw;
	padding: 15px;
	color: white;

}
//krzyżyk zamykakący

.closing {
    width: 30px;
	height: 30px;
    position: absolute;
    top: 2vh;
	left: 2vw;
    border-radius: 10%;
    background-color: #F04150;
	color: white;
	font-size: 1vw;
	font-weight: 600;
    -webkit-animation: closing 1s infinite;
	animation: closing 1s infinite;
    z-index: 10000;
    
	
}
.closing div {
	
	cursor: pointer;
    @extend %flex-centered;
    width: 100%;
    height: 100%;
   
}
//zamienić




.morespecialties, .pricing-buttons {
	@extend %flex-centered;
	
}



.help {
	font-size: 4vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid rgba(0, 128, 128, 0.5);
	color: teal;
	
	left: -89px;
	top: 90vh;
	position: absolute;
	padding-right: 5px;
}
.help-learn {
	font-size: 4vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid rgba(128, 0, 128, 0.5);
	color: $base-color-2;
	left: -89px;
	top: 90vh;
	position: absolute;
	padding-right: 5px;
}

.help a {
    color: $base-color-1;
	
}
.help-learn a {
	color: $base-color-2;
}
.inner_border p a {
	color: white !important;
}
.inner_border p a:hover {
	color: white !important;
}

// Carousel left right buttons - Translations (mobile only)

.glyphicon-chevron-left, .glyphicon-chevron-right {
	font-size: 3rem;
	color: $base-color-1;
}

