footer {
	@extend %flex-centered;
	@include mobile {
		height: auto;
	}
	row {
		width: 100%;
	}
	.navbar {
	margin: 0 !important;
	padding: 0 !important;
	}
}
//social media icons
.footer-proz {
	/*padding: 5%;*/
	height:80px;
	@extend %flex-centered;
	img {
		width:200px;
		margin: 0 auto;
		display: block;
		
	}
}
.footer-facebook {
	img {
	width:50px;
	float:right;
	}
}

.footer-linkedin {
	img {
	width: 50px;
	}
}

.footer-copy {
	@include tablet {
		margin-top: 2vh;
	}
}	

//contact data
.contact-data-par {
	color: white;
	font-size: type-scale(+2);
	font-weight: $bold;
	margin: 0;
	display:inline-block;
	width: 100%;
	text-align: center;
	
	@include tablet-only {
		font-size: type-scale--mobile(0);
	}
	@include mobile {
		text-align: center;
		font-size: type-scale--mobile(0);
		line-height: 3rem;
	}
	@include iphone5 {
		font-size: type-scale--mobile(-1);
	}
	
}


