footer {
	@extend %flex-centered;
	@include mobile {
		height: auto;
	}
	row {
		width: 100%;
	}
	.navbar {
	margin: 0 !important;
	padding: 0 !important;
	}
}

.footer-proz {
	/*padding: 5%;*/
	height:80px;
	@extend %flex-centered;
	img {
		width:200px;
		margin: 0 auto;
		display: block;
		
	}
}
.footer-facebook {
	img {
	width:50px;
	float:right;
	}
}

.footer-linkedin {
	img {
	width: 50px;
	}
}

.footer-copy {
	@include tablet {
		margin-top: 2vh;
	}
}	


