/*#two-column{
	width: 550px;
}
#two-column #left{
	width: 300px;
	float: left;
}
#two-column #right{
	width: 250px;
	float: right;
}
#two-column p{
	margin-bottom: 12px;
}
#two-column input[type="text"]{
	border:none;
	border:1px solid #000;
	font-size :14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 540px;
	padding: 5px;
}
#two-column #right input[type="text"], #two-column #left input[type="text"]{
	width:240px;
}
#two-column textarea {
    position: relative;
    padding: 5px;
    border:1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 540px;
}
#two-column input[type="submit"]{
	padding:8px 18px;
	background:#222;
	color:#fff;
	border: 1px solid #fff;
	float:right;
	font-size: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#two-column input[type="text"]:focus, #two-column textarea:focus{
	background: #eee;
}
#two-column input[type="submit"]:hover{
	background:#fff;
	color:#222;
	border: 1px solid #222;
}
*/
// Base selectors
textarea {
	width: 100%;
	
	
	
}
label {
	font-size: type-scale(+1);
	color: white;
	font-weight: $thin;
	width: 100% !important;
}
input, textarea {
	color: black;
	border: 2px solid white;
	background-color: white;
	//box-shadow: 1px 1px $base-color-2;
	
}
select {
	color: black !important;
	vertical-align: middle;
	
}

input[type='submit'] {
	
	border: 2px solid white;
	background-color: transparent !important;
	color: white;
	font-size: type-scale(+2);
	padding: 10px;
	&:hover {
		background-color: purple !important;
		color: white;
		font-weight: $regular;
	}
	
}
form {
	width: 75% !important;
	margin: 0 auto !important;
	@include mobile {
		width: 90% !important;
	}
}

//Form languages
#wpcf7-f418-o2 p:nth-child(2), #wpcf7-f667-o2 p:nth-child(2) {
	float: left;
	display: inline-block;	
	width: 17%;
	@include mobile {
		width: 40%;
	}
		
	
}
#wpcf7-f418-o2 p:nth-child(3), #wpcf7-f667-o2 p:nth-child(3) {
	float: left;
	display: inline-block;
	width: 15%;
	@include mobile {
		width: 40%;
	}
}
#wpcf7-f418-o2 p:nth-child(4), #wpcf7-f667-o2 p:nth-child(4) {
	float: left;
	display: inline-block;
	width: 20%;
	input {
		width: 26%;
	}
	@include mobile {
		width: 100%;
		display: block;
		
	}
}
#wpcf7-f418-o2 p:nth-child(5), #wpcf7-f667-o2 p:nth-child(5) {
	float: left;
	display: inline-block;
	width: 45%;
	
	@include mobile {
		width: 100%;
		display: block;
		margin-left: 0;
		
	}
	label {
		margin-left: 1%;
		@include mobile {
			margin-left: 0;
		}
		select {
			@include tablet {
				width: 50%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
}
#wpcf7-f418-o2 p:nth-child(6), #wpcf7-f667-o2 p:nth-child(6) {
	clear: left;
	float: left;
	width: 25%;
	display: inline-block;
	input {
		width: 80%;
		@include mobile {
			width: 100%;
		}
	}
	@include mobile {
		width: 100%;
		float: left;
		
	}
}
#wpcf7-f418-o2 p:nth-child(7), #wpcf7-f667-o2 p:nth-child(7) {
	float: left;
	display: inline-block;	
	width: 25%;
	input {
		width: 80%;
		@include mobile {
			width: 100%;
		}
	}
	@include mobile {
		width: 100%;
	}
}
#wpcf7-f418-o2 p:nth-child(8), #wpcf7-f667-o2 p:nth-child(8) {
	float: left;
	display: inline-block;
	width: 50%;
	@include mobile {
		width: 100%;
	}
	label {
		width: 90%;
		margin-left: 5%;
		@include mobile {
			margin-left: 0;
		}
		input {
			@include tablet {
				width: 85%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
}
#wpcf7-f667-o2 p:nth-child(9), #wpcf7-f418-o2 p:nth-child(9), #wpcf7-f667-o2 p:nth-child(11), #wpcf7-f418-o2 p:nth-child(11),  {
	clear: left;
	float: left;
	display: inline-block;
	width: 50%;
	label {
		width: 90%;
		input {
			@include tablet {
				width: 90%;
			}
			@include mobile {
			width: 100%;
			}
		}
	}
	@include mobile {
		width: 100%
	}
}



#wpcf7-f418-o2 p:nth-child(10), #wpcf7-f418-o2 p:nth-child(12),
#wpcf7-f667-o2 p:nth-child(10), #wpcf7-f667-o2 p:nth-child(12),{
	
	float: left;
	display: inline-block;
	width: 50%;
	@include mobile {
		width: 100%;
		
	}
	label {
		width: 95% !important;
		float: right;
		margin-left: 10%;
		
		@include mobile {
			margin-left: 0;
			float: left;
			width: 100% !important;
		}
		input {
			@include large {
				width: auto;
			}
			@include tablet {
				width: 90%;
			}
			@include mobile {
				width: 100%;
			}
		}
			
		
	}
}


.form--element__full-width {
	float: left;
	display: block;
	width: 100%;
	label {
		width: 95% !important;
		float: left;
		margin-left: 0;
	}
}
 #wpcf7-f418-o2 p:nth-child(13), #wpcf7-f667-o2 p:nth-child(13) {
	float: left;
	display: block;
	width: 100%;
	label {
		width: 95% !important;
		float: left;
		margin-left: 0;
		@include mobile {
			width: 100% !important;
		}
	}
}
	

#wpcf7-f418-o2 p:nth-child(14), #wpcf7-f667-o2 p:nth-child(14) {
	clear: left;
	float: left;
	display: inline-block;
	width: 50%;
	@include mobile {
		width: 100%;
		margin: 0 auto;
		
	}
}

// Form translation

#wpcf7-f132-o1 p:nth-child(2), #wpcf7-f663-o1 p:nth-child(2) {
	float: left; 
	display: inline-block;
	width: 45%;
	@include mobile {
		width: 100%;
		display: block;
		
		
	}
}
#wpcf7-f132-o1 p:nth-child(3), #wpcf7-f663-o1 p:nth-child(3){
	float: left;
	display: inline-block;
	margin-left: 10%;
	width: 45%;
	@include mobile {
		width: 100%;
		display: block;
		margin-left: 0;
		
		
	}
}
#wpcf7-f132-o1 p:nth-child(4), #wpcf7-f663-o1 p:nth-child(4) {
	clear: left;
	float: left;
	display: inline-block;
	width: 45%;
	@include mobile {
		width: 100%;
		display: block;
		
	}
}
#wpcf7-f132-o1 p:nth-child(5), #wpcf7-f663-o1 p:nth-child(5){
	float: left;
	display: inline-block;
	margin-left: 10%;
	width: 45%;
	@include mobile {
		width: 100%;
		display: block;
		margin-left: 0;
		
	}
}
/*#wpcf7-f132-o1 p:nth-child(6), #wpcf7-f663-o1 p:nth-child(6) {
	clear: left;
	
	label {
		width: 100%;
		float: left;
		
	}
}
*/
#wpcf7-f132-o1 p:nth-child(7), #wpcf7-f663-o1 p:nth-child(7) {
	float: left;
	display: inline-block;	
	width: 20%;
	@include mobile {
		width: 40%;
	}
}
#wpcf7-f132-o1 p:nth-child(8), #wpcf7-f663-o1 p:nth-child(8){
	float: left;
	display: inline-block;
	width: 12%;
	@include mobile {
		width: 40%;
	}
}
#wpcf7-f132-o1 p:nth-child(9), #wpcf7-f663-o1 p:nth-child(9){
	float: left;
	display: inline-block;
	width: 20%;
	@include mobile {
		width: 40%;
		clear: left;
		
	}

}

#wpcf7-f132-o1 p:nth-child(10), #wpcf7-f663-o1 p:nth-child(10) {
	float: left;
	display: inline-block;
	width: 12%;
	@include mobile {
		width: 40%;
		
	}
}
#wpcf7-f132-o1 p:nth-child(11), #wpcf7-f663-o1 p:nth-child(11) {
	float:left;
	width: 12%;
	display: inline-block;
	@include mobile {
		clear: left;
		width: 40%;
	}
}
#wpcf7-f132-o1 p:nth-child(12), #wpcf7-f663-o1 p:nth-child(12){
	float: left;
}

#form-lessons, #form-translation {
	width: 100%;
}
#wpcf7-f132-o1 input[type='text'], #wpcf7-f132-o1 input[type='email'], #wpcf7-f132-o1 [type='tel'], #wpcf7-f663-o1 input[type='text'], #wpcf7-f663-o1 input[type='email'], #wpcf7-f663-o1 input[type='tel'] {
	 
	width: 100%;
	
}
input[name='file-955'] {
	@include mobile {
		width: 100%;
	}
}



