// Base selectors

input,
select,
textarea {
	@include font-size(+1);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid white;
	background-color: $clr-primary;
	color: white;
		
}
input,
select {
	width: 80%;
	@include mobile {
		width: 100%; 
	}
	@include tablet-only {
		width: 100%;
	}
			
}
select {
	option:first-child {
		color: white;
	}
}
	
textarea {
	width: 100%;
	outline: none;
	
}

label {
	@include font-size(0);
	color: white;
	font-weight: $thin;
	width: 100% !important;
}

/*::placeholder {  
  color: white;
}
input:focus::placeholder {
    opacity: 0;
}
*/
input:focus,
select:focus {
	outline: none;
}

.wpcf7 {
	width: 100%;
}
form {
	width: 75% !important;
	margin: 0 auto !important;
	@include mobile {
		width: 90% !important;
	}
	
	p {
		width: 50%;
		@include mobile {
		width: 100%;
		}
		@include tablet-only {
			width: 100%;
		}
		float: left;
		display: inline-block;
	}	
	
}

//specific inputs styles

#wpcf7-f418-o2 p:nth-child(12), #wpcf7-f667-o2 p:nth-child(12) {
	clear:left;
	width: 90%;
	background-color: $clr-primary;

}

input[type='submit'] {
	
	color: white;
	font-size: type-scale(+2);
	padding: .5rem 1rem .5rem 1rem;
	width: 100%;
	border:0;
	background-color: $clr-adjacent-2;
	&:hover {
		color: white;
		font-weight: $ultra-bold;
	}
	
}
form p:nth-child(even) {
	clear: left;
}


div.wpcf7-validation-errors {
border: none;
color: red;
}

//Form learn languages
	
#wpcf7-f418-o1 p:nth-child(even), #wpcf7-667-o2 p:nth-child(even) {
	clear: left;
}

#wpcf7-f418-o1 p:nth-child(5), #wpcf7-f667-o2 p:nth-child(5) {
	
	
	@include mobile {
		width: 100%;
		display: block;
		margin-left: 0;
		
	}
	label {
		margin-left: 1%;
		@include mobile {
			margin-left: 0;
		}
		select {
			@include tablet {
				width: 50%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
}

	

#wpcf7-f418-o1 p:nth-child(8), #wpcf7-f667-o2 p:nth-child(8) {
		
	label {
		width: 90%;
		margin-left: 5%;
		@include mobile {
			margin-left: 0;
		}
		input {
			@include tablet {
				width: 85%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
}
#wpcf7-f667-o2 p:nth-child(9), #wpcf7-f418-o1 p:nth-child(9), #wpcf7-f667-o2 p:nth-child(11), #wpcf7-f418-o1 p:nth-child(11),  {
		
	label {
		width: 90%;
		input {
			@include tablet {
				width: 90%;
			}
			@include mobile {
			width: 100%;
			}
		}
	}
	@include mobile {
		width: 100%
	}
}


#wpcf7-f418-o1 p:nth-child(10), #wpcf7-f418-o1 p:nth-child(12),
#wpcf7-f667-o2 p:nth-child(10), #wpcf7-f667-o2 p:nth-child(12),{
	
		
	label {
		width: 95% !important;
		float: right;
		margin-left: 10%;
		
		@include mobile {
			margin-left: 0;
			float: left;
			width: 100% !important;
		}
		input {
			@include large {
				width: auto;
			}
			@include tablet {
				width: 90%;
			}
		}
			
		
	}
}
#wpcf7-f418-o1 p:nth-child(12), #wpcf7-f667-o1 p:nth-child(12) {
	clear:left;
	width: 90%;
	background-color: $clr-primary;
	@include mobile {
		width: 100%;
	}
	@include tablet-only {
		width: 100%;
	}
}

#wpcf7-f418-o1 p:nth-child(13), #wpcf7-f667-o2 p:nth-child(13) {
	width: 90%;
	@include mobile {
		width: 100%;
	}
	@include tablet-only {
		width: 100%;
	}
		
}

// Form translation

#wpcf7-f132-o1 p:nth-child(11), #wpcf7-f663-o1 p:nth-child(11) {
	width: 90%; 
	@include mobile {
		width: 100%;
	}
	@include tablet-only {
		width: 100%;
	}
			
}
#wpcf7-f132-o1 p:nth-child(10), #wpcf7-f663-o1 p:nth-child(10) {
	width: 90%;
	@include mobile {
		width: 100%;
	}
	@include tablet-only {
		width: 100%;
	}
	span {
		input {
			width: 100%;
			background-color: $clr-adjacent-1;
		}
	}
}
form p:nth-last-of-type(1), form p:nth-last-of-type(2) {
	@include medium-device {
		width: 90%;
	}
}




#form-lessons, #form-translation {
	width: 100%;
}

// form output message. Displays only if form has been sent succesfully

.formOutputMsg {
	width: 75%;
	@include mobile {
		width: 90%;
	}
	margin: 0 auto;
	color: white;
	font-family: $base-font-family;
	@include font-size(+4);
	font-weight: $bold;
}

//hides default output message {
.wpcf7-response-output {
	display: none;

}
//Fallback for disabled js or malfunctions {
div.wpcf7-mail-sent-ok {
	color: white;
	float: left;
	@include font-size(+3);
	border: none;
	
}
div.wpcf7-response-output {
	margin: 0;
	padding: 0;
}

//Validation errors messages 

.wpcf7-validation-errors {
	clear: both !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	
}







