.container-fluid {
	width: 100% !important;
   	padding: 0;

}
.padding {
	padding-bottom: 0 !important;
}
/*.row {
	width: 100% !important;
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
}*/
.row {
	margin:0;
}

#photos { margin-top: 50px;

}

#pricing {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    
    
}


//sprawdzić czy potrzebne
#terms_title {
    margin-top: 7.2vh !important;
}
/*#portfolio {
	width: 100%;
	height: 100vh;
	background-color: #f04150;
}*/ 
/*sprawdzić po co jest portfolio*/


//sprawdzić po co to wszystko

.container-section-title {
	width: 100%;
	height: 30vh;
	@extend %flex-centered;


}




.container-section-title-col {
	height: 100% !important;
	margin-bottom: 0;
}

.container-section-content {
	width: 100%;
	height: 70vh;
}
.container-section-map {
	width: 100%;
	height: 50vh;
	margin: 0;
	padding: 0;

}
.container-section-map > .row-col > .col-lg-12 {
	padding: 0 !important;
}
.section-contact {
	width: 100%;
	
	height: 60vh;
}

.slideanim {
    visibility: hidden;
}
.slide {
    
	animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    -moz-animation-name: slideRight;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideRight;
    
    visibility: visible; 
}

.slide-left {
	animation-name: slideLeft;
	 -webkit-animation-name: slideLeft; 
    -moz-animation-name: slideLeft;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideLeft;
}

.confidentiality {
	font-size: 1.8rem;
	text-align: center;
	color: white;
	display: inline-block;
	width: 60%;
	font-weight: 600;
	font-style: italic ;
	@include mobile {
		
        width: 100%;
        height: 30vh;
        padding-top: 10px;
	}
    

}



#learn-language {
    margin-top: 10vh;
}

.icons_row > div {
    height: 260px;
    margin-bottom: 20px;
}
// ABOUT and LEARN POLISH, ENGLISH vertical page dividers //

%about-wider {
	
	height: 100vh;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 !important;
    position: relative;
	@include mobile {
		width: 100% !important;
        height: 80vh !important;
	}

}
.about-right {
	@extend %about-wider;
	background-color: rgba(255, 255, 255, 0.5);
	align-items: flex-start;
	
	
}
.about-left-learn {
	@extend %about-wider;
	background-color: rgba(255, 255, 255, 0.5);
	align-items: flex-end;
	
	
	
}
.about-left, .about-right-learn {
    height: 100vh;
    padding: 0 !important;
	@include mobile {
		width: 100% !important;
        height: 20vh !important;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
//być może będzie niepotrzebny
.contact-left {
    height: 100vh;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    
}
.contacts-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	height: 19vh;


}
.contacts-items> p {
	height: 9vh;
}
//do sekcji contact
.address {
	list-style: none;
	padding: 0;
}


#googleMap {

	
    width: 100%;
    height: 50vh;
}
//sprawdzić po co
.competence {
	margin-top: 20px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}



.flex-center-column {
	@extend %flex-centered;
	@extend %flex-column;
}
.flex-center-row-multiple {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@include mobile {
		-webkit-box-pack: space-around !important;
		-ms-flex-pack: space-around !important;
		justify-content: space-around !important;
	}
	
}

// LEARN subpage - pricing table div

#learn-polish-pricing {
	margin-bottom: 5vh;
}

// Contact Page
#form-page {
	padding-top: 5vh;
	padding-bottom: 5vh;
	@include mobile {
		padding-bottom: 0;
	}
}
.contact-form-right {
	@extend %flex-centered;
	@include mobile {
		background-color: $base-color-1 !important;
		margin: 0 !important;
	}
}
.contact-form-right-container {
	width: 80%;
	height: 80%;
	@extend %flex-column;
	color: white !important;
	p {
		margin: 0 auto;
		a:link {
			color: white !important;
		}
	}
	

	
}
.contact-form-right-container-socialmedia {
	display: flex;
	align-items: center;
	justify-content: space-around;
}



