/*.container:before, .container:after, container-fluid:after, container-fluid:before, row:after, row:before {
	width: 0;
} */
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
} 

.container-fluid {
	width: 100% !important;
   	padding: 0;

}
.padding {
	padding-bottom: 0 !important;
}
/*.row {
	width: 100% !important;
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
}*/
.row {
	margin:0;
}

#pricing {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
   
    
}


//sprawdzić czy potrzebne
#terms_title {
    margin-top: 7.2vh !important;
}
/*#portfolio {
	width: 100%;
	height: 100vh;
	background-color: #f04150;
}*/ 
/*sprawdzić po co jest portfolio*/


//sprawdzić po co to wszystko

.container-section-title {
	width: 100%;
	height: 30vh;
	@extend %flex-centered;


}




.container-section-title-col {
	height: 100% !important;
	margin-bottom: 0;
}

.container-section-content {
	width: 100%;
	height: 70vh;
}
.container-section-map {
	width: 100%;
	height: 50vh;
	margin: 0;
	padding: 0;

}
.container-section-map > .row-col > .col-lg-12 {
	padding: 0 !important;
}
.section-contact {
	width: 100%;
	
	height: 60vh;
}

.slideanim {
    visibility: hidden;
}
.slide {
	@include tablet {
	animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    -moz-animation-name: slideRight;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideRight;
    
    visibility: visible;
	}
	@include mobile {
		visibility: visible;
	}
	
}

.slide-left {
	@include tablet {
	animation-name: slideLeft;
	 -webkit-animation-name: slideLeft; 
    -moz-animation-name: slideLeft;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideLeft;
	}
}

#photos {
	
	@include mobile {
		margin-top: 10%;
	}
	@include tablet-only {
		margin-bottom: 5vh;
	}
	@include large {
		width: 80% !important; 
		margin-top: 5vh;
	}
}
	
#learn-language { 
    margin-top: 5vh;
	@include mobile {
		margin-top: 10%;
	}
	@include medium-device {
		
		margin-top: 2vh;
	}
	.row {
		@include tablet-only {
			display: flex;
			justify-content:center;
			align-items: center;
		}
	}
}





.icons_row > div {
    height: 260px;
    margin-bottom: 20px;
}
// ABOUT and LEARN POLISH, ENGLISH vertical page dividers //

%about-wider {
	
	height: 100vh;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 !important;
    position: relative;
	@include mobile {
		width: 100% !important;
        height: 80vh !important;
	}

}
.about-right {
	@extend %about-wider;
	background-color: rgba(255, 255, 255, 0.5);
	align-items: flex-start;
	
	
}
.about-left-learn {
	@extend %about-wider;
	background-color: rgba(255, 255, 255, 0.5);
	align-items: flex-end;
	
	
	
}
.about-left, .about-right-learn {
    height: 100vh;
    padding: 0 !important;
	@include mobile {
		width: 100% !important;
        height: 20vh !important;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
//być może będzie niepotrzebny
.contact-left {
    height: 100vh;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    
}
.contacts-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	height: 19vh;


}
.contacts-items> p {
	height: 9vh;
}
//do sekcji contact
.address {
	list-style: none;
	padding: 0;
}


#googleMap {

	
    width: 100%;
    height: 50vh;
	@include mobile {
		height: 100vw;
	}
	
}
//sprawdzić po co
.competence {
	margin-top: 20px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}
.col-services {
	border: 10px solid white;
	padding-left: 0;
	padding-right: 0;
	@include large {
		-webkit-transition: border-top 0.5s; /* Safari */
    	transition: border-top 0.5s;
	}
}
.col-services:hover {
	@include large {
	border-top: 5px solid white;
	}
}



.flex-center-column {
	@extend %flex-centered;
	@extend %flex-column;
}
.flex-center-row-multiple {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@include mobile {
		-webkit-box-pack: space-around !important;
		-ms-flex-pack: space-around !important;
		justify-content: space-around !important;
	}
	
}

// LEARN subpage - pricing table div

#learn-polish-pricing {
	@include medium-device {
	margin-bottom: 5vh;
	}
}

// Contact Page
#form-page {
	padding-top: 7vh;
	padding-bottom: 5vh;
	@include mobile {
		padding-bottom: 5%;
		padding-top: 5%;
	}// background in _backgrounds_and_borders
}
.contact-form-right {
	@extend %flex-centered;
	@include mobile {
		background-color: $base-color-1 !important;
		margin: 0 !important;
	}
}
.contact-form-right-container {
	width: 80%;
	height: 80%;
	@extend %flex-column;
	color: white !important;
	p {
		margin: 0 auto;
		a:link {
			color: white !important;
		}
	}
	

// Contact Data
}
.contact-form-right-container-socialmedia {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#contact-data {
	height: 7vh;
	background-color: $footer-color;
	.row {
		height: 100%;
		display: flex !important ;
		justify-content: space-around !important;
		align-items: center !important;
		@include mobile {
			display: block !important;
		}
		.col-lg-4 {
			width: auto !important;
			@include mobile {
				width: 100% !important;
				padding: 0;
			}
			
		}
		.col-lg-4:nth-child(1) {
			@include mobile {
				background-color: $base-color-2;
			}
		}
		.col-lg-4:nth-child(2) {
			@include mobile {
				background-color: $base-color-1;
			}
		}
		.col-lg-4:nth-child(3) {
			@include mobile {
				background-color: #ff6400;
			}
		}
	}
}

//
.invisible {
	
		display: none;
	
}
.morespecialties {
	@include tablet {
		height: 16vh;
	}
}

// Services

.row-icons-services {
	@include tablet {
	overflow: hidden !important;
	height: 100% !important;
	}
	[class^='col'] {
		@include tablet {
	margin-bottom: -100% !important;
	padding-bottom: 100%;
	padding-top: 3vh;
		}
	}
	
	

}

#services {
	
	.section-title {
		@include tablet {
			margin-top: 0 !important;
			margin: 0 auto;
			margin-bottom: 1vh;
			display: block;
			border: 3px solid #dce6dc;
			width: 47%;
			box-shadow: 0px 1px 10px 2px lightgrey;
			line-height: 2.8rem !important;
		}
	}
}

#about {
	height: 100vh;
	@include medium-device-portrait {
		height: auto;
	}
	row {
		height: 100%;
	}
}

.col-learn {
	@extend %flex-centered;
	@include mobile {
		padding: 0 !important;
	}
	
	@include tablet {
		height: 30vh;
	}
	
	@include medium-device {
		height: 60vh;
	}
	
}

.col-learn-left, .col-learn-right-middle {
	@include tablet-only {
		justify-content: flex-end !important;
	}
		
}
.col-learn-right, .col-learn-left-middle {
	@include tablet-only {
	justify-content: flex-start !important;
	}
}
// services {
.services-square {
	width: 30vw;
	height: 30vw;
	@include mobile {
		width: 80vw;
		height: 80vw;
	}
	h1 {
		margin-top: 10%;
	}
}
.services-headline-container{
	height: 30vh;
	padding-top: 8vh;
}



.services-square-subsquare {
	width: 50%;
	padding:0;
	margin:0;
	float: left;
}









