/*.container:before, .container:after, container-fluid:after, container-fluid:before, row:after, row:before {
	width: 0;
} */
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
} 

.container-fluid {
	width: 100% !important;
   	padding: 0;

}
.padding {
	padding-bottom: 0 !important;
}
/*.row {
	width: 100% !important;
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
}*/
.row {
	margin:0;
}

#pricing {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
   
    
}


//sprawdzić czy potrzebne
#terms_title {
    margin-top: 7.2vh !important;
}


.slideanim {
    visibility: hidden;
}
.slide {
	@include tablet {
	animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    -moz-animation-name: slideRight;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideRight;
    
    visibility: visible;
	}
	@include mobile {
		visibility: visible;
	}
	
}

.slide-left {
	@include tablet {
	animation-name: slideLeft;
	 -webkit-animation-name: slideLeft; 
    -moz-animation-name: slideLeft;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideLeft;
	}
}

#photos {
	
	@include mobile {
		margin-top: 10%;
	}
	@include mobile-landscape {
		margin-top: 0 !important;
	}
	@include tablet-only {
		margin-bottom: 5vh;
	}
	@include large {
		width: 80% !important; 
		margin-top: 5vh;
	}
}
	
#learn-language { 
    margin-top: 5vh;
	@include mobile {
		margin-top: 10%;
	}
	@include medium-device {
		
		margin-top: 2vh;
	}
	.row {
		@include tablet-only {
			display: flex;
			justify-content:center;
			align-items: center;
		}
	}
}





.icons_row > div {
    height: 260px;
    margin-bottom: 20px;
}


//do sekcji contact
.address {
	list-style: none;
	padding: 0;
}


#googleMap {

	
    width: 100%;
    height: 50vh;
	@include mobile {
		height: 100vw;
	}
	
}

.col-centered{
	float: none;
	margin: 0 auto;
}
.col-services {
	padding-left: 0;
	padding-right: 0;
	padding-top: 1vh;
	@include tablet {
		padding-bottom: 9999px; // łącznie z overflow hidden na containerze rodzica zapewnia równą wysokość wszystkich kolumn
		margin-bottom: -9999px; // j.w.
		border: 10px solid transparent;
	}
	
}
.col-services:hover {
	@include large {
	background-color: rgb(83, 78, 75);
	}
}



.flex-center-column {
	@extend %flex-centered;
	@extend %flex-column;
}
.flex-center-row-multiple {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@include mobile {
		-webkit-box-pack: space-around !important;
		-ms-flex-pack: space-around !important;
		justify-content: space-around !important;
	}
	
}

// LEARN subpage - pricing table div

#learn-polish-pricing {
	@include medium-device {
	margin-bottom: 5vh;
	}
}

// Contact Page
#form-page {
	padding-top: 7vh;
	padding-bottom: 5vh;
	@include mobile {
		padding-bottom: 5%;
		padding-top: 5%;
	}// background in _backgrounds_and_borders
}
.contact-form-right {
	@extend %flex-centered;
	@include mobile {
		background-color: $clr-primary !important;
		margin: 0 !important;
	}
}
.contact-form-right-container {
	width: 80%;
	height: 80%;
	@extend %flex-column;
	color: white !important;
	p {
		margin: 0 auto;
		a:link {
			color: white !important;
		}
	}
	

// Contact Data
}

#contact-data {
	height: 7vh;
	background-color: $clr-adjacent-2;
	.row {
		height: 100%;
		display: flex !important ;
		justify-content: space-around !important;
		align-items: center !important;
		@include mobile {
			display: block !important;
		}
		.col-lg-4 {
			width: auto !important;
			@include mobile {
				width: 100% !important;
				padding: 0;
			}
			
		}
		.col-lg-4:nth-child(1) {
			@include mobile {
				background-color: $clr-primary;
			}
		}
		.col-lg-4:nth-child(2) {
			@include mobile {
				background-color: $clr-adjacent-1;
			}
		}
		.col-lg-4:nth-child(3) {
			@include mobile {
				background-color: #ff6400;
			}
		}
	}
}

//
.invisible {
	
		display: none;
	
}

// Services

.row-icons-services {
	@include tablet {
	overflow: hidden !important;
	height: 100% !important;
	}
	[class^='col'] {
		@include tablet {
	margin-bottom: -100% !important;
	padding-bottom: 100%;
	padding-top: 3vh;
		}
	}
	
	

}

#services {
	padding: 0;
	div {
		padding: 0;
	}
	.section-title {
		@include tablet {
			margin-top: 3vh !important;
			margin: 0 auto;
			margin-bottom: 3vh;
			display: block;
			border: 3px solid #dce6dc;
			width: 47%;
			box-shadow: 0px 1px 10px 2px lightgrey;
			line-height: 2.8rem !important;
			background-color: $clr-secondary;
			color: white !important;
		}
	}
}

#about {
	height: 100vh;
	@include mobile-landscape {
		height: auto;
	}
	@include medium-device-portrait {
		height: auto;
	}
	row {
		height: 100%;
		@include mobile-landscape {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.col-learn {
	@extend %flex-centered;
	@include mobile {
		padding: 0 !important;
	}
	
	@include tablet {
		height: 30vh;
	}
	@include tablet-only {
		padding: 0 !important;
	}
		
	@include medium-device {
		height: 60vh;
	}
	@include medium-device-portrait {
		height: auto;
		padding: 0 !important;
	}
	
}

.col-learn-left, .col-learn-right-middle {
	@include tablet-only {
		justify-content: flex-end !important;
	}
	@include medium-device-portrait {
		justify-content: flex-end !important;
	}
		
}
.col-learn-right, .col-learn-left-middle {
	@include tablet-only {
	justify-content: flex-start !important;
	}
	@include medium-device-portrait {
		justify-content: flex-start !important;
	}
}
// services {
.services-square {
	width: 30vw;
	height: 30vw;
	@include mobile {
		width: 80vw;
		height: 80vw;
	}
	h1 {
		margin-top: 10%;
	}
}
.services-headline-container{
	height: 30vh;
	padding-top: 8vh;
}



.services-square-subsquare {
	width: 50%;
	padding:0;
	margin:0;
	float: left;
}
#services_content {
	@include mobile {
			padding-right: 0 !important;
			padding-left: 0 !important;
		
		
	}
	@include tablet-only {
		display: flex;
		flex-wrap: wrap;
	}
	
	@include medium-only {
		display: flex;
		flex-wrap: wrap;
		
	}
	
}
.col-md-3-to-md-6 {
	@include medium-device-portrait {
		width: 50% !important;
	}
}

//additional breakpoint fro bootstrap grid

@for $i from 1 through 12 {
	.col-xs-lscape-#{$i}
	{@include mobile-landscape {
		width: ($i/12) * 100%;
		padding-left: 15px;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		float: left;
		}
	}
}
.hidden-xs-lscape {
	@include mobile-landscape {
		display: none;
	}
}
.active-xs-lscape {
	@include mobile-landscape {
		display: block !important;
	}
}









