.high_standards_and_guidelines_list {
	padding: 0;
		li {
			@include font-size(0);
			padding: 5px;
			font-weight: $thin;
			
			
		}
	 
	
    
}



.subsection {
	@include e('container-icon') {
			
	@extend %flex-centered;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 2vh;
	/*background-color: white;*/
	/*border: 3px solid rgba(0, 126, 126, 0.3);*/
		@include m('bg-primary') {
			@include tablet {
				background-color:$clr-primary;
			}
		}
		
		@include m('bg-secondary') {
			@include tablet {
			background-color: $clr-secondary;
			}
		}
		
	
	}
}
	
	icon-circle-animate {
    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-duration: 1s;
    
	}
	icon-circle-animate-purple {
     -webkit-animation-name: bounceInPurple;
	-moz-animation-name: bounceInPurple;
    animation-name: bounceInPurple;
    animation-duration: 1s;
	}





.icon-set-height {
	max-height: 70px;
	
	
}

.icon-set-height-services {
	max-height: 50px;
	
	
}
/*.icon-set-width {
	max-width: 90px;
	@include mobile {
		max-width: 100px;
	}
	
}*/
// Small icons in contact section
.icon-circle-small {
	@extend %flex-centered;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid rgba(105, 105, 105, 0.5);
	margin: 0 auto;
	background-color: white;
	margin-top: 5vh;
}
.icon-set-height-small {
	width: 40px;
	opacity: 0.7;
}
.icon-set-height-small {
	height: 40px;
	opacity: 0.7;
}
// Social media icons in contact section

.icon-circle-smallest {
	@extend %flex-centered;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: white !important;
	border: 2px solid rgba(105, 105, 105, 0.5);
	margin-top: 5vh;
	margin-bottom: 5vh;
	
}


.icon-set-size-smallest {
	height: 35px;
	width: 35px;
	opacity: 0.7;
}

// Pricing small icons
.payments_methods_flex {
    @extend %flex-centered;
	@include mobile {padding-bottom: 2rem};
}
.payments_methods_flex img {
    margin-left: 1vw;
    margin-right: 1vw;
}

.row-icons > div {
     margin-bottom: 20px;
	@include mobile {
		height: auto !important;
		margin-bottom: 0;
	}
}

.row-icons {
	display: flex;
	flex-wrap: wrap;
}
#how_i_teach_icons {
	@include tablet-only {
		margin-top: 2vh;
	}
	@include medium-device {
		margin-top: 2vh;
	}
	@include large {
		margin-top: 5vh;
	}
}

//icons in mobile versions


.learn-pricing-modes > div > h4 {
	width: 90%;
	margin: 0 auto;
	min-height: 4em;
}

