.high_standards_and_guidelines_list li {
    padding: 5px;
    font-size: $base-font-size;
}

.icon_circle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	@extend %flex-centered;
	margin: 0 auto;
	margin-bottom: 2vh;
	background-color: white;
}
.icon_circle_animate {
    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-duration: 1s;
    
}
.icon_circle_animate_purple {
     -webkit-animation-name: bounceInPurple;
	-moz-animation-name: bounceInPurple;
    animation-name: bounceInPurple;
    animation-duration: 1s;
}


.icon_circle_teal {

	border: 3px solid rgba(0, 126, 126, 0.3);
}
.icon_circle_purple {
	border: 3px solid rgba(128, 0, 128, 0.3);

}
.icon_circle_teal span {
	text-align: center;
	color: #008000;
	font-weight: 600;
	font-size: 2.2vh;

}
.icon_pic {
	width: 60px;
	opacity: 0.7;

}
.icon_pic1 {
	height: 60px;
	opacity: 0.7;
}

.payments_methods_flex {
    @extend %flex-centered
}
.payments_methods_flex img {
    margin-left: 1vw;
    margin-right: 1vw;
}

.row-icons > div {
    height: 260px;
    margin-bottom: 20px;
}