.high_standards_and_guidelines_list {
	padding: 0;
		li {
			padding: 5px;
			font-size: $base-font-size;
			font-weight: 300;
			@include mobile {
			font-size: 1.5rem;
				}
			
		}
	 
	
    
}




.icon {
	&-circle {
	@extend %flex-centered;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 2vh;
	background-color: white;
	border: 3px solid rgba(0, 126, 126, 0.3);
		@include mobile {
			width: 120px;
			height: 120px;
			border: 0 !important;
			background-color: none !important;
			margin-bottom: 4%;
		}
		
	
	}
	&-circle-purple {
	border: 3px solid rgba(128, 0, 128, 0.3);

	}
	&-circle-animate {
    -webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-duration: 1s;
    
	}
	&-circle-animate-purple {
     -webkit-animation-name: bounceInPurple;
	-moz-animation-name: bounceInPurple;
    animation-name: bounceInPurple;
    animation-duration: 1s;
	}
	&-circle-teal {

	border: 3px solid rgba(0, 126, 126, 0.3);
	}
}


.icon_circle_teal span {
	text-align: center;
	color: #008000;
	font-weight: 600;
	font-size: 2.2vh;

}


.icon-set-height {
	max-height: 60px;
	@include mobile {
		max-height: 100px;
	}
	
}
.icon-set-width {
	max-width: 60px;
	@include mobile {
		max-width: 100px;
	}
	
}
// Small icons in contact section
.icon-circle-small {
	@extend %flex-centered;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid rgba(105, 105, 105, 0.5);
	margin: 0 auto;
	background-color: white;
	margin-top: 5vh;
}
.icon-set-width-small {
	width: 40px;
	opacity: 0.7;
}
.icon-set-height-small {
	height: 40px;
	opacity: 0.7;
}
// Social media icons in contact section

.icon-circle-smallest {
	@extend %flex-centered;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: white !important;
	border: 2px solid rgba(105, 105, 105, 0.5);
	margin-top: 5vh;
	margin-bottom: 5vh;
	
}


.icon-set-size-smallest {
	height: 35px;
	width: 35px;
	opacity: 0.7;
}

// Pricing small icons
.payments_methods_flex {
    @extend %flex-centered
}
.payments_methods_flex img {
    margin-left: 1vw;
    margin-right: 1vw;
}

.row-icons > div {
    height: 260px;
    margin-bottom: 20px;
	@include mobile {
		height: auto !important;
	}
}