.navigation-container {
	width: 100%;
	position: fixed;
	height: 7vh;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1200; 
	
	
}

.navigation-container-dimgray {

    background-color: $nav-and-background-color !important;
	
	
}
.wordpress-menu {
	
	position: relative;
	line-height: 7vh;
	height: 7vh;
	z-index: 1200;
	@include mobile {
		width: 100% !important;
		background-color:  rgba($base-color-2, 0.7);
	}
	@include tablet {
		max-width: 70%;
	}
	/*padding-right: 4.3vw; //zobaczyć czy nie trzeba zostawić w komórkowym
	padding-left: 4.3wv;*/
	
	
	
    ul {
        padding: 0;
		@include mobile {
			transform: translateY(50%);
			margin-bottom: 0;
			margin-top: 0;
		}
        li {
            padding-left: 10px;
            display: inline-block;
			@include mobile {
				display: block;
				width: 100vw; /* to nie wiem po co jest*/
				text-align: center;
				padding: 0;
						}
            a {
              color:  white !important; /*tu zmieniam kolor czcionki w menu*/
	           font-size: 1.2rem; 
				@include mobile {
				font-size: 2rem;
				}//
            }
            a[href="#how_i_teach"], a[href="#process"], a[href="learnfrench.html"], a[href="learnpolish.html"], a[href="#pricing"],   {
                font-weight: 300;
            }
        }
    }
}
.nav100vh {

	height: 100vh !important;

	
}


        


.hamburger {
	width: 60px;
	height: 45px;
	 z-index: 10000;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
     position: fixed;
     top: 3px;
     right: 3px;
	@include mobile {
		width: 35px;
		height: 30px;
		top: 10px;
		right: 10px;
	}
     
    span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: rgba($base-color-2, 0.7);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
		@include mobile {
			height: 3px;
		}
    &:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
		
        }
    &:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
		@include mobile {
			top: 10px;
		}
    }
    &:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
		@include mobile {
			top: 20px;
		}
    }
	}
	&-sidepages {
		top:1% !important;
		right: 2% !important;
	}
}

.hamburger.open span, {
    &:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: white;
	top: -3px;
	left: 8px;
		@include mobile {
			top: -1px;
			left: 6px;
		}
        }
    &:nth-child(2) {
	width: 0%;
	opacity: 0;
        }
    &:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
	background-color: white;
		@include mobile {
			top: 23px;
			left: 6px;
		}
        }
}


@media all and (max-width: 440px) {
    .puopu-r1-sidepages {
        font-size: 1.0em;
        line-height: 5vh;
    }
}
@media all and (min-width: 441px) and (max-width: 636px) {
    .puopu-r1-sidepages {
    font-size: 1.4em;
    line-height: 5vh;
    }
    
    
}
//sidemenu terms and conditions



.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff !important;
  background-color: rgba($base-color-2, 0.5) !important;
}
.nav-pills {
    ul {
        li {
            a {
        color: black !important;
                &:hover {
                    color: purple !important;
                }
            
            }
        }
    }
}

.terms_conditions_index {
	list-style: none;
	line-height: 20px;
	width:80%;


}

.affix {

	width: 20vw;
	top: 10vh;
	@include large-screen {
		
		width: 250px;
		}
 
}

.affix a {
    color: purple !important;
    
    
}
    
    
 

