// Portfolio images

@each $theme in tourism, business, marketing, technical, law, finance { .portfolio-#{$theme}-pic { background-image: url('#{$path-img}/#{$theme}.jpg') }; 
} 




.pic-square {
	height: 40vh;

	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	padding: 0;
}


.pic_overlaytext {

	width: 100%;
	height: 20%;
	background-color: rgba(0, 128, 128, 0.5);
	@extend %flex-centered;


}

.french {
    background-image: url('#{$path-img}/paris.jpg');
	@extend %learnlanguage;
    @extend %flex-centered;
    

}
.polish {
    background-image: url('#{$path-img}/cracow.jpeg');
	@extend %learnlanguage;
	@extend %flex-centered;
    
}

.logo {

	height: 38px;
	margin-left: 10px;
}

//nie wiem do czego to

.photo {
	min-width: 40%;
	max-width: 60%;
}