// Portfolio images

@each $theme in tourism, business, marketing, technical, law, finance { .portfolio-#{$theme}-pic { 
	background-image: url('#{$path-img}/#{$theme}-min.jpg')
	
}; 
} 

// My solutions and services icons 


.pic-square {
	height: 40vh;

	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	padding: 0;
	@include mobile {
		position: relative;
		
	}
	@include mobile-landscape {
		height: 35vw;
	}
	@include tablet {
		height: 33.33vw;
	}
	@include large {
		height: 40vh;
	}
}


.portfolio-overlay {

	width: 100%;
	height: 20%;
	background-color: rgba($clr-secondary, 0.5);
	@extend %flex-centered;
	@include mobile {
		position: absolute;
		left: 0;
		bottom: 0;
	}


}


// carousel - Translation (mobile only)
#myCarousel {
	padding: 0 !important;
}
.mkd-photo {
	display: block;
	width: 6rem;
		
	border-radius: 50%;
	@include mobile {
		width: 50%;
		margin: 0 auto;
	}
	@include mobile-landscape {
		width: 60%;
		
	}
	@include tablet {
		margin-top: 10vh;
	}
	@include tablet {
		    /*box-shadow: 0px 1px 10px 2px lightgrey;*/
	}
}