// Portfolio images

@each $theme in tourism, business, marketing, technical, law, finance { .portfolio-#{$theme}-pic { background-image: url('#{$path-img}/#{$theme}.jpg') }; 
} 

// My solutions and services icons 


.pic-square {
	height: 40vh;

	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	padding: 0;
	@include mobile {
		position: relative;
		height: 100vw;
	}
	@include tablet {
		height: 33.33vw;
	}
	@include large {
		height: 40vh;
	}
}


.portfolio-overlay {

	width: 100%;
	height: 20%;
	background-color: rgba($clr-secondary, 0.5);
	@extend %flex-centered;
	@include mobile {
		position: absolute;
		left: 0;
		bottom: 0;
	}


}


// carousel - Translation (mobile only)
#myCarousel {
	padding: 0 !important;
}
.mkd-photo {
	display:block;
	margin: 0 auto;
	width:10%;
	margin-top: 10vh;
	border-radius: 50%;
	@include mobile {
		width: 50%;
	}
	@include medium-device-portrait {
		margin-top: 7.5vh;
	}
}