/* Base Selectors */
html {
	font-size: $base-font-size;	
	font-weight: $base-font-weight;
    font-family: $base-font-family;
	@include mobile {
		font-size: $base-font-size-mobile;	
 
	}
}



h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    
}
h3 {
    font-size: 1.4rem;
    
}

/*h3 {
	margin-top: 0;
} */
h4 {
	
	@include tablet-only {
		font-size: 1.6rem;
	}
	@include medium-device {
		font-size: 1.4rem;
	}
	@include large {
		font-size: 1.2rem;
	}
	
}
.choose-language {
	text-align: center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 7%;
	width: 100%;
	p {
		font-family: $title-font-family;
		font-size: 1.5rem;
	}
	
}

.headline {
	text-align:center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 35%;
	height: 65%;
	width: 100%;
	@include mobile {
		
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		webkit-flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
}
.headline-sidepages {
	width: 100%;
	height: 7vh;
}
.headline-text-big {
    padding-top: 8vh;
	font-size: 4rem;
    font-family: $title-font-family;
	margin: 0;
	height: 20vh;
	color: white;
	
	@include mobile {
	font-size: 2em;
	margin-bottom: 15%;
	
	}
 		span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
					
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: rgba($base-color-2, 1);
			
	}
			
}

.headline-text-sidepages {
	font-size: 2rem;
	line-height: 7vh;
    font-family: $title-font-family;
	text-align: center;
	color: black;
	display: inline-block;
	width: 100%;
	margin: 0;
	@include mobile {
		display: inline-block;
		width:88%;
		font-size: 1.35rem;
		margin: 0;
		
			}
	span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: $base-color-2;
			color: white !important;
	}
}

.section-title {
    width: 100%;
    
	font-weight: 600;
	text-align: center;
	line-height: 3rem !important; //to może do przerobienia 
	margin-top: 8vh;
	@include mobile {
		font-size: 2.2rem;
        width: 100%;
		margin-top: 10%;
	}
}
.section-title-pricing {
	@include tablet {
		margin-bottom: 5vh;
	}
}
.section-title-teaching {
	margin-top: 15vh !important;
}
.section-title-lead {
    font-size: 1.5rem;
	font-weight: 300;
	padding-bottom: 1vh;
    text-align: center;
    width: 70%;
    margin: 0 auto;
	@include mobile {
		font-size: 1.8rem;
		padding-bottom: 0;
        width: 100%;
	}
	@include tablet-only {
		font-size: 1.8rem;
	}
}

.section-title-lead-teaching {
	color: white !important;
	@include mobile {
		width: 80%;
	}
	//zmienić do mobilu
}



.icon-description-text {

	font-size: 1rem;
	color: black;
	font-weight: 300;
	@include medium-device {
		font-size: 1.2rem;
		padding-bottom: 0;
	}
	@include tablet-only {
		font-size: 1.5rem;
	}
	@include large{
		font-size: 1rem;
	}
	text-align: center;
    padding-bottom: 3vh;
	padding-left: 5%;
	padding-right: 5%;
	@include mobile {
	   font-size: 1.5rem;
		padding-top: 0;

	}
	a {
		color: white !important;
		text-decoration: underline;
		font-size: 0.9em;
	}
}

.icon-headline {
    
	font-weight: 600;
	text-align: center;
    margin-bottom: 2vh;
	@include mobile {
		font-size: 1.6rem;
		margin-bottom: 4%;
	}
	
}
.icon_title {
	min-height: 3rem;
	width:90%;
	margin: 0 auto;
}


.icon-headline-animation {
    -webkit-animation-name: emerge;
    -moz-animation-name: emerge;
    animation-name: emerge;
    animation-duration: 1s;


}
//sprawdzić czy potrzebne


.headline-btn a, {
	font-size: 1.5em;
	
	color: white;
}


.big-title {
	font-size: 3.5em;
	color: white;
	border: 0;
	text-decoration: overline;

}
//sprawdzić po co te headers titles
.headers-titles {
	border: 2px solid white;
	border-radius: 8px;
	padding: 5px;
	color: #0E365C;
	background-color: white;

}


.headers-titles-grey {
	border: 1px solid white;
	padding: 5px;
	background-color: #4A4E52;
	border-radius: 8px;
	color: white;
}
.header-title {;

	background-color: #0E365C;
	
	color: white;
}

// Sidepage Terms and conditions


.subpage-header-title {
	border: 3px solid white !important;
	color: white !important;
	padding: 5px;
	font-size: 600;
	font-size: 3rem;
	@include mobile {
		font-size: 2.2rem;
		
	}
		
}


// czy to potrzebne

.text {
	&-violet {
	color: #504cff !important;
		}
	&-red {
	color: #f04150 !important;
		}
	&-blue {
	color: #ff5d19 !important;
		}
	&-grey {
	color: slategrey !important;
		}
	&-teal {
	color: $base-color-3 !important;
		}
	&-gainsboro {
	color: gainsboro;
		}
	&-purple {
	color: $base-color-2 !important;
	}
	&-white {
		color: white !important;
	}
}

%about-mains {
	font-size: 1.4rem;
	line-height: 1.7rem;
	width: 80%;
    margin-top: 100px;
	padding: 20px;
	font-weight: 500;
	color: white;
	@include mobile {
		margin: 0 auto !important;
		text-align: center;
				
	}

}
.about-main {
	@extend %about-mains;
	background-color: rgba(0, 128, 128, 0.7);
}

.about-main-learn {
	@extend %about-mains;
	background-color: rgba(128, 0, 128, 0.7);
	text-align: right;
	
}
%about-secondarys {
	font-size: 2.2vh;
	margin-top: 50px;
	width: 70%;
	padding: 20px;
	color: white;
	@include mobile {
		width: 100% !important;
		margin-top: 20px;
	}

}
.about-secondary {
	@extend %about-secondarys;
	background-color: rgba(0, 128, 128, 0.7);
	
}

.about-secondary-learn {
	@extend %about-secondarys;
	background-color: rgba(128, 0, 128, 0.7);
	text-align: right;
	
}


.about-main span {

	background-color: rgba(255, 255, 255, 0.8);

	color: teal;
}
.about-title, .about-mobile {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    
    margin-top: 10vh;
    float: right;
    
    
    
}

.learn-polish-title span {
	color: $base-color-2;
    height: 100%;
    padding: 5px;
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
}
.learn-polish-title {
	font-size: 5vh;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 10vh;
    float: left;
	border: 3px solid rgba(128, 0, 128, 0.7);
	border-left: 0;
}

.learn-polish-title-left {
	font-size: 5vh;
    background-color: rgba(128, 0, 128, 0.5);
    border: 3px solid rgba(128, 0, 128, 0.3);
    border-right: 0;
    position: absolute;
    top: 10vh;
    right: 0;
    padding: 0;
}
.learn-polish-title-left span {

	color: white;
	height: 100%;
	padding: 5px;
	margin-right: 0;
	display: inline-block;
}
.about-mobile {
    float: left;
	margin-top: 5vh !important;
}
.about-title span, .about-mobile span {
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
    height: 100%;
    padding: 5px;
    padding-right: 0;
    margin-right: 0;
    display: inline-block;
}


.about-title-right {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(0, 128, 128, 0.5);
    border-left: 0;
    color: teal;
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 3px;
}


// Portfolio section 
.portfolio-overlay-text-hover {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba($base-color-3, 0.5);
	color: white;
	font-weight: 600;
	font-size: 3vh;
	padding: 10px;
	margin: 0;
	text-align: center;
	@extend %flex-centered;
}



.portfolio-overlay-text {
	color: white;
	font-weight: 600;
	font-size: 1.8rem;
	@include mobile {
	font-size: 2rem;
	}
}

// Learn Subpages Pricing

.learn-pricing-section {
	font-size: 1.8rem;
	width: 100%;
	display: inline-block;
	color: white;
	background-color: $base-color-2;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	margin-top: 5vh;
	@include mobile {
		height: auto;
	}
		
}

// Contact form

.contact-form-lead {
	font-size: 3.5rem;
	color: white;
	font-weight: 400;
	width: 75%;
	margin: 0 auto;
	line-height: 4.2rem;
	margin-bottom: 2vh;
	&-lesson {
		color: rgb(255, 120, 0);
		font-weight: 700;
		&:hover {
			font-weight: 900;
			text-decoration: underline;
			color: rgb(255, 120, 0) !important;
		}
		&:active {
			text-decoration: underline;
		}
	}
	&-translation {
		color: $base-color-1;
		font-weight: 700;
		&:hover {
			font-weight: 900;
			text-decoration: underline;
			color: $base-color-1 !important;
		}
		&:active {
			text-decoration: underline;
		}
	}
	@include mobile {
		width: 90%;
		font-size: 2.5rem;
		line-height: auto;
		margin-bottom: 0;
	}
}

.address {
	margin: 0 auto;
}

// Menu text below hamburger

.menutext_hamburger {
	color: black;
	margin: 0 auto;
	font-weight: 600;
    font-size: 0.8rem;
	display: block;
	text-align: center;
	width: 100%;
	height: 0.8rem;
	
	@include mobile {
		
		margin-top: 2px;
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		
	}
	
    
}
.text-mobile-white {
	@include mobile {
		color: white !important;
	}
}
.col-translation-mobile {
	@include mobile {
		padding-bottom: 10%;
	}
}

//new design learn pages

.square2-learn h2, .square3-learn h2, .square4-learn h2 {
	font-size: 2.2rem !important;
	font-weight: 600 !important;
	color: white;
	@include mobile {
		font-size: 3rem !important;
	}
}


.square2-learn > p > span {
	font-weight: 300;
	@include tablet {
		
		padding: 1%;
		font-size: 1.7rem !important;
	}
	@include mobile {
		font-size: 2rem !important;
	}
}
.square3-learn > p > span {
	font-weight: 300;
	@include tablet {
		
		padding: 1%;
		font-size: 1.7rem !important;
	}
	@include mobile {
		font-size: 2rem !important;
	}
}
.square4-learn > p > span {
	font-weight: 300;
	@include tablet {
		
		padding: 1%;
		font-size: 1.7rem !important;
	}
	@include mobile {
		font-size: 2rem !important;
	}
}
//contact section
.contact-data-par {
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 4rem;
	margin: 0;
	@include mobile {
		text-align: center;
	}
	
}
// belts
.confidentiality {
	font-size: 1.8rem;
	text-align: center;
	color: white;
	display: inline-block;
	width: 60%;
	font-weight: 600;
	font-style: italic ;
	@include tablet-only {
		font-size: 2rem;
	}
	@include mobile {
		width: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
             
	}
    

}

//footer {
.footer-copy {
	@include mobile {
		margin-top: 5%;
	}
		p:nth-child(2) {
			text-align:center;
			
			font-size: 1rem;
			@include mobile {
				font-size: 1.3rem;
			}
			color: white;
				a {
					color:inherit;
					}
			}
		p:nth-child(3), p:nth-child(4) {
			text-align:center;
			
			color: white;
			font-size:1rem;
			@include mobile {
				font-size: 1.2rem;
			}
			a {
					color:inherit;
					}
			}
}
//Services

.services-headlines {
	text-align: center !important;
	font-size:1.3rem;
	font-weight: 900;
	@include mobile {
		margin-top: 7%;
		font-size: 1.6rem;
	}
	
}

// Learn

.signature-learn  {
	width: 100% !important;
	text-decoration: none !important;
	text-align: center;
	
		span {
		color:white !important;	
		background-color: $base-color-2 !important;	
		padding-left:1%;
		padding-right:1%;
			@include mobile {
				padding: 0.8%;
			}
	}
	
}



.square-learn {
	a {
	color: $base-color-2 !important;
		
	}
}
.icon-headline-learn {
	
	span {
		line-height: 1.7rem;
		padding: 1%;
	}
}
.about-headlines {
	color: white;
	font-weight: 600;
	padding-left: 4%;
	@include tablet-only {
		font-size: 2rem;
	}
	@include mobile {
		font-size: 2rem;
		padding: 5% 5% 5% 5%;
	}
}
.button-teaching {
	font-size: 3.5rem;
	font-weight: 600;
	margin-bottom: 10vh;
	@extend %flex-centered;
	width: 100%;
		a {
			color: white !important;
			border: 3px solid white;
			padding: 0.5%;
			&:hover {
				color: $base-color-2 !important;
				text-decoration:none !important;
				border: 3px solid $base-color-2;
				font-weighy: 600 !important;
			}
		}
	
}
.underline {
	text-decoration: underline !important;
}












