/* Base Selectors */
html {
	font-size: $base-font-size;	
	font-weight: $base-font-weight;
    font-family: $base-font-family;
	@include mobile {
		font-size: $base-font-size-mobile;	
 
	}
}



h1 {
    font-size: type-scale(+4);
}

h2 {
    font-size: 1.6rem;
    
}
h3 {
    font-size: 1.4rem;
    
}

/*h3 {
	margin-top: 0;
} */
h4 {
	
	@include tablet-only {
		font-size: 1.6rem;
	}
	@include medium-device {
		font-size: 1.4rem;
	}
	@include large {
		font-size: 1.2rem;
	}
	
}

.container-headline {
	text-align:center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 35%;
	height: 65%;
	width: 100%;
	@include mobile {
		
			
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@include e('text-big') {
		padding-top: 8vh;
		@include font-size(max);
		font-family: $title-font-family;
		margin: 0;
		height: 20vh;
		color: white;
	
		@include mobile {
		margin-bottom: 15%;
		}
		span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: $clr-primary;
			
		}
			
	}
}

.navigation-container__headline-text-sidepages {
	
	line-height: 7vh;
	font-size: type-scale(+4);
    font-family: $title-font-family;
	text-align: center;
	color: black;
	display: inline-block;
	width: 100%;
	margin: 0;
	@include mobile {
		font-size: type-scale--mobile(-1);
		display: inline-block;
		width:88%;
		margin: 0;
		
			}
	span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: $clr-primary;
			color: #fff !important;
	}
	
	
}
.section {
	@include e('title') {
		width: 100%;
		@include font-size(+4);
		font-weight: $bold;
		text-align: center;
		line-height: 3rem !important; //to może do przerobienia 
		margin-top: 8vh;
		@include mobile {
			width: 100%;
			margin-top: 10%;
		}
		@include m('front-page-services') {
			@include mobile {
				background: none;
				color: $clr-secondary;
			}
			@include tablet {
				margin-top: 3vh !important;
				margin: 0 auto;
				margin-bottom: 3vh;
				display: block;
				border: 3px solid $clr-adjacent-6;
				width: 47%;
				box-shadow: 0px 1px 10px 2px lightgrey;
				line-height: 2.8rem !important;
				background-color: $clr-secondary;
				color: white !important;
		}
	}
		}
		@include m('translations-pricing') {
			@include tablet {
				margin-bottom: 5vh !important;
			}
		}
		
	
	@include e('lead') {
		@include font-size(+3);
		font-weight: $thin;
		padding-bottom: 1vh;
		text-align: center;
		width: 70%;
		margin: 0 auto;
		@include mobile {
			padding-bottom: 0;
			width: 100%;
		}
		@include tablet-only {
			font-size: 1.8rem;
		}
		
		@include m('front-page-services') {
			@include tablet {
				line-height: 4rem;
				background-color: rgba(83, 78, 75, 0.5);
				color: white;
			}
			@include mobile {
				width: 95%;
			}
			margin-bottom: 4vh;
			width:100%;
			padding: 0;
		}
		@include m('front-page-teaching') {
			color: white !important;
			@include mobile {
				width: 80%;
			}
		}
		
	}
}

.subsection {
	// jeszcze trzeba napisać container-icon
	@include e('headline') {
		@include font-size(+0.5);
		font-weight: 600;
		text-align: center;	
		margin-bottom: 2vh;
		margin: 0 auto;
		min-height: 3rem;
		margin-top: 2vh;
		@include mobile {
			margin-bottom: 1rem;
			width:75vw;
			min-height: 2rem;
		}
		@include tablet {
		width:90%;
		}
		@include m('front-page-services') {
			@include mobile {
				color: $clr-secondary; 
			}
			@include tablet {
				color: white !important;
			}
		}
	}
	@include e('text') {
		@include font-size(0);
		color: black;
		font-weight: 300;
		text-align: center;
		padding-bottom: 3vh;
		padding-left: 5%;
		padding-right: 5%;
		@include m('front-page-services') {
			@include tablet {
				color: white;
			}	
		}
	}

	@include e('link') {
		color: white !important;
		text-decoration: underline;
		font-size: 0.9em;
	}
	
	
}



//sprrawdzić czy potrzebne


.headline-btn a, .headline-btn-learn a {
	@include font-size(+3);
	color: white;
}


// Sidepage Terms and conditions


.subpage-header-title {
	border: 3px solid white !important;
	color: white !important;
	padding: 5px;
	font-size: 600;
	@include font-size(+4);
	
		
}


// czy to potrzebne

.text {
	&-violet {
	color: #504cff !important;
		}
	&-red {
	color: #f04150 !important;
		}
	&-blue {
	color: #ff5d19 !important;
		}
	&-grey {
	color: slategrey !important;
		}
	&-teal {
	color: $clr-secondary !important;
		}
	&-gainsboro {
	color: gainsboro;
		}
	&-purple {
	color: $clr-primary !important;
	}
	&-white {
		color: white !important;
	}
}



// Portfolio section 
.portfolio-overlay-text-hover {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba($clr-secondary, 0.5);
	color: white;
	font-weight: 600;
	@include font-size(+3);
	padding: 10px;
	margin: 0;
	text-align: center;
	@extend %flex-centered;
}



.portfolio-overlay-text {
	color: white;
	font-weight: $bold;		
	@include font-size(+3);
	
}

// Contact form

.contact-form-lead {
	
	font-size: type-scale(+5);
	color: white;
	font-weight: $regular;
	width: 75%;
	margin: 0 auto;
	line-height: 4.2rem;
	margin-bottom: 2vh;
	&-lesson {
		color: $clr-adjacent-2;
		font-weight: $ultra-bold;
		&:hover {
			font-weight: $ultra-bold;
			text-decoration: underline;
			color: $clr-adjacent-2 !important;
		}
		&:active {
			text-decoration: underline;
		}
	}
	&-translation {
		color: $clr-adjacent-1;
		font-weight: $ultra-bold;
		&:hover {
			font-weight: $ultra-bold;
			text-decoration: underline;
			color: $clr-adjacent-1 !important;
		}
		&:active {
			text-decoration: underline;
		}
	}
	@include mobile {
		width: 90%;
		font-size: type-scale--mobile(+3);
		line-height: 2.5rem;
		margin-bottom: 0;
	}
	
}

.address {
	margin: 0 auto;
}

// Menu text below hamburger

.menutext_hamburger {
	color: black;
	margin: 0 auto;
	font-weight: 600;
	font-size: type-scale(-1); //tutaj bym raczej zostawił
	display: block;
	text-align: center;
	width: 100%;
	height: type-scale(-1);
	
	@include mobile {
		
		
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		
	}
	
    
}
.text-mobile-white {
	@include mobile {
		color: white !important;
	}
}
.col-translation-mobile {
	@include mobile {
		padding-bottom: 10%;
	}
}

//new design learn pages

.square2-learn h2, .square3-learn h2, .square4-learn h2 {
	@include font-size(+4);
	font-weight: $bold !important;
	color: white;
	
	@include tablet-only {
		font-size: 3rem !important;
	}
	@include medium-device-portrait {
		font-size: 3rem !important;
	}
}
.square-learn--inner-text {
	font-weight: $thin;
	@include font-size(+3);
	@include tablet-only {
		
		padding: 1%;
		font-size: 2.5rem !important;
	}
	@include medium-device {
		font-size: type-scale(+3) !important;
	}
	@include medium-device-portrait {
		font-size: 2.5rem !important;
	}
}



//contact section
.contact-data-par {
	color: white;
	font-size: type-scale(+3);
	font-weight: $bold;
	line-height: 4rem;
	margin: 0;
	@include mobile {
		text-align: center;
		font-size: type-scale--mobile(0);
		line-height: 3rem;
	}
	
}
// belts
.confidentiality {
	@include font-size(+4);
	text-align: center;
	color: white;
	display: inline-block;
	width: 60%;
	font-weight: $bold;
	font-style: italic ;
	@include tablet-only {
		font-size: 2rem;
	}
	@include mobile {
		width: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
             
	}
    

}

//footer {
.footer-copy {
	@include mobile {
		margin-top: 5%;
	}
		p:nth-child(2) {
			text-align:center;
			color: white;
				a {
					color:inherit;
					}
			}
		p:nth-child(3), p:nth-child(4) {
			text-align:center;
			
			color: white;
				a {
					color:inherit;
					}
			}
}
//Services

.services-headlines {
	text-align: center !important;
	@include font-size(+2);
	font-weight: $bold;
	margin-top: 1vh !important;
	@include mobile {
		margin-top: 7%;
		
		
	}
	
}

// Learn

.signature-learn  {
	width: 100% !important;
	text-decoration: none !important;
	text-align: center;
	@include mobile {
		font-size: 2.5rem;
		font-weight: $ultra-bold;
	}
	@include tablet-only {
				padding-bottom: 5vh;
	}
	
	@include medium-device-portrait {
			padding-bottom: 5vh;
	}
		span {
		color:white !important;	
		background-color: $clr-primary !important;	
		padding-left:1%;
		padding-right:1%;
			@include mobile {
				padding: 0.8%;
			}
			
	}
	
}

.signature {
	font-size: type-scale(+5);
	font-family: $base-font-family;
	font-weight: $ultra-bold;
	color: $clr-primary;
	@include tablet {
		display: block;
		width: 80%;
		text-decoration:underline;
	}
	@include mobile {
		position: absolute;
		bottom: 0;
		padding: 3%;
		background-color: rgba(255, 255, 255, 0.8);
		font-size:type-scale--mobile(+3);
	}
}
.signature-teaching {
	@include mobile {
		font-size: type-scale--mobile(+5);
		text-align: center;
	}
	a {
		color: inherit !important;
	}
}


.square-learn {
	a {
	color: $clr-primary !important;
		
	}
}
.icon-headline-learn {
	
	span {
		line-height: 1.7rem;
		padding: 1%;
		@include mobile {
			line-height: 2.5rem;
			padding-bottom: 0.1rem;
		}
	}
}
.about-headlines {
	color: white;
	font-weight: $bold;
	padding-left: 4%;
	@include font-size(+2);
	@include tablet-only {
		font-size: 2rem;
	}
	@include mobile {
		padding: 5% 5% 5% 5%;
	}
}
.button-teaching {
	font-size: type-scale(+5);
	font-weight: $bold;
	margin-bottom: 10vh;
	@extend %flex-centered;
	width: 100%;
		a {
			color: white !important;
			border: 3px solid white;
			padding: 0.5%;
			&:hover {
				color: $clr-primary !important;
				text-decoration:none !important;
				border: 3px solid $clr-primary;
				font-weight: $bold !important;
			}
		}
	@include mobile {
		margin-bottom: 10vw;
		margin-top: 10vw;
		font-size:type-scale--mobile(max);
	}
	
}
.underline {
	text-decoration: underline !important;
}
footer {
	@include font-size(-1);
	font-weight:$thin;
}












