/* Base Selectors */
html {
	font-size: $base-font-size;	
	font-weight: $base-font-weight;
    font-family: $base-font-family;
	@include mobile {
		font-size: $base-font-size-mobile;	
 
	}
}



h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    
}
h3 {
    font-size: 1.4rem;
    
}

/*h3 {
	margin-top: 0;
} */
h4 {
    font-size: 1.2rem;
}
.headline-sidepages {
	width: 100%;
	height: 2rem;
}
.headline-text-big {
    font-size: 4rem;
    font-family: $title-font-family;
	margin-bottom: 20vh;
	color: white;
	
	@include mobile {
	font-size: 2em;
	margin-bottom: 10vh;
	
	}
 		span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: rgba($base-color-2, 0.5);
			
	}
			
}

.headline-text-sidepages {
	font-size: 1.8rem;
	line-height: 2rem;
    font-family: $title-font-family;
	text-align: center;
	color: white;
	@include mobile {
		font-size: 1.5rem;
			}
	span {
		height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: rgba($base-color-2, 0.5);
	}
}

.section-title {
    width: 100%;
    
	font-weight: 500;
	text-align: center;
	height: 10vh; //to może do przerobienia 
	line-height: 10vh !important; //to do przerobienia
	@include mobile {
		font-size: 4vh;
        width: 100%;
	}
}
.section-title-lead {
    font-size: 1.2rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
	@include mobile {
		
        width: 100%;
	}
}



.icon-description-text {

	font-size: $base-font-size;
	font-weight: 400;
	text-align: center;
    padding-top: 1vh;
	@include mobile {
	   font-size: $base-font-size-mobile;

	}
}

.icon-headline {
    
	font-weight: 600;
	text-align: center;
    margin-bottom: 2vh;
	
}

.icon-headline-animation {
    -webkit-animation-name: emerge;
    -moz-animation-name: emerge;
    animation-name: emerge;
    animation-duration: 1s;


}
//sprawdzić czy potrzebne


.headline-btn a, {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}


.big-title {
	font-size: 3.5em;
	color: white;
	border: 0;
	text-decoration: overline;

}
//sprawdzić po co te headers titles
.headers-titles {
	border: 2px solid white;
	border-radius: 8px;
	padding: 5px;
	color: #0E365C;
	background-color: white;

}


.headers-titles-grey {
	border: 1px solid white;
	padding: 5px;
	background-color: #4A4E52;
	border-radius: 8px;
	color: white;
}
.header-title {;

	background-color: #0E365C;
	
	color: white;
}

// Sidepage Terms and conditions

.terms_conditions_header {
	p {
			

    border: 3px solid rgba(128, 0, 128, 0.7);
    color: rgba(128, 0, 128, 0.7);
    padding: 5px;
    font-weight: 600;
	font-size: 1.8rem;
	}
}

// czy to potrzebne

.text {
	&-violet {
	color: #504cff !important;
		}
	&-red {
	color: #f04150 !important;
		}
	&-blue {
	color: #ff5d19 !important;
		}
	&-grey {
	color: slategrey !important;
		}
	&-teal {
	color: teal !important;;
		}
	&-gainsboro {
	color: gainsboro;
		}
}

.about-main {
	font-size: 3vh;
	background-color: rgba(0, 128, 128, 0.5);
	width: 80%;
    margin-top: 100px;
	padding: 20px;
	font-weight: 500;
	color: white;
	@include mobile {
		margin: 0 auto !important;
		text-align: center;
				
	}

}
.about-secondary {
	font-size: 2.2vh;
	margin-top: 50px;
	background-color: rgba(0, 128, 128, 0.5);
	width: 60%;
	padding: 20px;
	color: white;
	@include mobile {
		width: 100% !important;
		margin-top: 20px;
	}

}


.about-main span {

	background-color: rgba(255, 255, 255, 0.8);

	color: teal;
}
.about-title, .about-mobile {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    
    margin-top: 10vh;
    float: right;
    
    
    
}
.about-mobile {
    float: left;
	margin-top: 5vh !important;
}
.about-title span, .about-mobile span {
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
    height: 100%;
    padding: 5px;
    padding-right: 0;
    margin-right: 0;
    display: inline-block;
}


.about-title-right {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(0, 128, 128, 0.5);
    border-left: 0;
    color: teal;
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 3px;
}

//może się przydać

       .contact_left_title {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(128, 0, 128, 0.5);
    color: purple;
}
// Portfolio section 
.portfolio-overlay-text-hover {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 128, 128, 0.5);
	@extend %flex-centered;
}

.portfolio-overlay-text-hover p {
	color: white;
	font-weight: 600;

}

.portfolio-overlay-text p {
	color: white;
	font-weight: 600;

	font-size: 3vh;

}

//do czego to? 
.pic_overlaytext_hover {
	text-align: center;
	font-weight: 400;

}
















