/* Base Selectors */
html {
	font-size: $base-font-size;	
	font-weight: $base-font-weight;
    font-family: $base-font-family;
	@include mobile {
		font-size: $base-font-size-mobile;	
 
	}
}



h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    
}
h3 {
    font-size: 1.4rem;
    
}

/*h3 {
	margin-top: 0;
} */
h4 {
    font-size: 1.2rem;
}
.choose-language {
	text-align: center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 7%;
	width: 100%;
	p {
		font-family: $title-font-family;
		font-size: 1.5rem;
	}
	
}

.headline {
	text-align:center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 35%;
	width: 100%;
	@include mobile {
		
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		webkit-flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
}
.headline-sidepages {
	width: 100%;
	height: 7vh;
}
.headline-text-big {
    font-size: 4rem;
    font-family: $title-font-family;
	margin-bottom: 20vh;
	color: white;
	
	@include mobile {
	font-size: 2em;
	margin-bottom: 10vh;
	
	}
 		span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: rgba($base-color-2, 0.5);
			
	}
			
}

.headline-text-sidepages {
	font-size: 1.8rem;
	line-height: 7vh;
    font-family: $title-font-family;
	text-align: center;
	color: white;
	@include mobile {
		font-size: 1.35rem;
		text-align: left;
		padding-left: 3vw;
			}
	span {
		height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: rgba($base-color-2, 0.5);
	}
}

.section-title {
    width: 100%;
    
	font-weight: 500;
	text-align: center;
	height: 10vh; //to może do przerobienia 
	line-height: 10vh !important; //to do przerobienia
	@include mobile {
		font-size: 4vh;
        width: 100%;
	}
}
.section-title-lead {
    font-size: 1.2rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
	@include mobile {
		
        width: 100%;
	}
}



.icon-description-text {

	font-size: $base-font-size;
	font-weight: 400;
	text-align: center;
    padding-top: 1vh;
	@include mobile {
	   font-size: $base-font-size-mobile;

	}
}

.icon-headline {
    
	font-weight: 600;
	text-align: center;
    margin-bottom: 2vh;
	
}

.icon-headline-animation {
    -webkit-animation-name: emerge;
    -moz-animation-name: emerge;
    animation-name: emerge;
    animation-duration: 1s;


}
//sprawdzić czy potrzebne


.headline-btn a, {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
}


.big-title {
	font-size: 3.5em;
	color: white;
	border: 0;
	text-decoration: overline;

}
//sprawdzić po co te headers titles
.headers-titles {
	border: 2px solid white;
	border-radius: 8px;
	padding: 5px;
	color: #0E365C;
	background-color: white;

}


.headers-titles-grey {
	border: 1px solid white;
	padding: 5px;
	background-color: #4A4E52;
	border-radius: 8px;
	color: white;
}
.header-title {;

	background-color: #0E365C;
	
	color: white;
}

// Sidepage Terms and conditions

.subpage-header  {
	
	p {

		border: 3px solid rgba($base-color-2, .7);
		color: rgba($base-color-2, .7);
		padding: 5px;
		font-weight: 600;
		font-size: 1.8rem;
	}
}
.subpage-header-title {
	border: 3px solid white !important;
	color: white !important;
	background-color: rgba($base-color-1, .7) !important;
	padding: 5px;
	font-size: 600;
	font-size: 1.8rem;
		
}


// czy to potrzebne

.text {
	&-violet {
	color: #504cff !important;
		}
	&-red {
	color: #f04150 !important;
		}
	&-blue {
	color: #ff5d19 !important;
		}
	&-grey {
	color: slategrey !important;
		}
	&-teal {
	color: teal !important;;
		}
	&-gainsboro {
	color: gainsboro;
		}
}

%about-mains {
	font-size: 3vh;
	width: 80%;
    margin-top: 100px;
	padding: 20px;
	font-weight: 500;
	color: white;
	@include mobile {
		margin: 0 auto !important;
		text-align: center;
				
	}

}
.about-main {
	@extend %about-mains;
	background-color: rgba(0, 128, 128, 0.5);
}

.about-main-learn {
	@extend %about-mains;
	background-color: rgba(128, 0, 128, 0.5);
	text-align: right;
	
}
%about-secondarys {
	font-size: 2.2vh;
	margin-top: 50px;
	width: 60%;
	padding: 20px;
	color: white;
	@include mobile {
		width: 100% !important;
		margin-top: 20px;
	}

}
.about-secondary {
	@extend %about-secondarys;
	background-color: rgba(0, 128, 128, 0.5);
	
}

.about-secondary-learn {
	@extend %about-secondarys;
	background-color: rgba(128, 0, 128, 0.5);
	text-align: right;
	
}


.about-main span {

	background-color: rgba(255, 255, 255, 0.8);

	color: teal;
}
.about-title, .about-mobile {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    
    margin-top: 10vh;
    float: right;
    
    
    
}

.learn-polish-title span {
	color: $base-color-2;
    height: 100%;
    padding: 5px;
    padding-left: 0;
    margin-left: 0;
    display: inline-block;
}
.learn-polish-title {
	font-size: 5vh;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 10vh;
    float: left;
	border: 3px solid rgba(128, 0, 128, 0.7);
	border-left: 0;
}

.learn-polish-title-left {
	font-size: 5vh;
    background-color: rgba(128, 0, 128, 0.5);
    border: 3px solid rgba(128, 0, 128, 0.3);
    border-right: 0;
    position: absolute;
    top: 10vh;
    right: 0;
    padding: 0;
}
.learn-polish-title-left span {

	color: white;
	height: 100%;
	padding: 5px;
	margin-right: 0;
	display: inline-block;
}
.about-mobile {
    float: left;
	margin-top: 5vh !important;
}
.about-title span, .about-mobile span {
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
    height: 100%;
    padding: 5px;
    padding-right: 0;
    margin-right: 0;
    display: inline-block;
}


.about-title-right {
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(0, 128, 128, 0.5);
    border-left: 0;
    color: teal;
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 3px;
}


// Portfolio section 
.portfolio-overlay-text-hover {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 128, 128, 0.5);
	color: white;
	font-weight: 600;
	font-size: 3vh;
	padding: 10px;
	margin: 0;
	@extend %flex-centered;
}



.portfolio-overlay-text {
	color: white;
	font-weight: 600;

	font-size: 3vh;

}

// Learn Subpages Pricing

.learn-pricing-section {
	font-size: 1.8rem;
	width: 100%;
	display: inline-block;
	color: white;
	background-color: rgba(128, 0, 128, 0.7);
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	margin-top: 5vh;
	@include mobile {
		font-size: 1.1rem;
		height: 1.5rem;
		line-height: 1.5rem;
	}
		
}

// Contact form

.contact-form-lead {
	font-size: 2rem;
	color: white;
	font-weight: 500;
}
.address {
	margin: 0 auto;
}

















