/* Base Selectors */
html {
	font-size: $base-font-size;	
	font-weight: $base-font-weight;
    font-family: $base-font-family;
	@include mobile {
		font-size: $base-font-size-mobile;	
 
	}
	@include tablet-only {
		font-size: $base-font-size-smalls;
	}
}



h1 {
    font-size: type-scale(+4);
}

h2 {
    font-size: 1.6rem;
    
}
h3 {
    font-size: 1.4rem;
    
}

/*h3 {
	margin-top: 0;
} */
h4 {
	
	@include tablet-only {
		font-size: 1.6rem;
	}
	@include medium-device {
		font-size: 1.4rem;
	}
	@include large {
		font-size: 1.2rem;
	}
	
}
.headline {
	text-align:center;
	color: white;
	z-index: 1000;
	position: absolute;
	top: 35%;
	height: 65%;
	width: 100%;
	@include mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@include mobile-landscape {
		justify-content: flex-end;
		top:0;
		height: 100vh;
		width: 100%;
	}
	@include e('text') {
		padding-top: 8vh;
		@include font-size(max);
		font-family: $title-font-family;
		margin: 0;
		height: 20vh;
		color: white;
		
		@include mobile {
		margin-bottom: 15%;
		}
		
		@include mobile-landscape {
			padding: 0;
			font-size: type-scale--mobile(+4);
			margin-bottom: 0;
		}
		
		@include iphone5-landscape {
			font-size: type-scale--mobile(+3);
		}
		@include tablet-only {
			font-size: 2.5rem;
		}
	}
	@include e('square') {
		border-radius: 20%;
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: $clr-primary;
	}
}


	
		
		

.navigation-container__headline-text-sidepages {
	
	line-height: 7vh;
	font-size: type-scale(+4);
    font-family: $title-font-family;
	text-align: center;
	color: black;
	display: inline-block;
	width: 100%;
	margin: 0;
	@include mobile {
		font-size: type-scale--mobile(-1);
		display: inline-block;
		width:88%;
		margin: 0;
		
			}
	@include mobile-landscape {
		width: 100%;
		font-size: type-scale--mobile(+1);
	}
	span {
			height: 2em;
			width: 2em;
			font-size: 0.4em;
			font-weight: 300; /* tu może jeszcze zmienną dać*/
			font-style: italic;
			line-height: 1.9em;
			text-transform: lowercase;
			display: inline-block;
			vertical-align: middle;
			margin: -0.44em 0.1em 0;
			border: 0.1em solid #fff;
			background-color: $clr-primary;
			color: #fff !important;
	}
	
	
}
.section {
	@include e('title'){
		width: 100%;
		margin-top: 4rem;
		@include font-size(+4);
		font-weight: $bold;
		text-align: center;
		line-height: 3rem !important; //to może do przerobienia 
		
		@include iphone5 {
			font-size: type-scale--mobile(+3);
		}
		
		@include mobile {
			width: 100%;
			margin-top: 10%;
		}
		@include mobile-landscape {
			margin-top: 5vh;
			font-size: type-scale--mobile(+3);
		}
		
		@include m('front-page-services') {
			@include mobile {
				background: none;
				color: white;
				line-height: 1.5 !important;
			}
			@include mobile-landscape {
				font-size: type-scale--mobile(+3);
			}
			@include iphone5-landscape {
				font-size: type-scale--mobile(+2);
			}
			@include tablet {
				padding-left: 30px;
				margin-bottom: 3vh;
				margin-top: 0;
				display: block;
				text-align: justify;
				font-size: type-scale(+4);
				//border: 3px solid $clr-adjacent-6;
				
				color: white;
			}
			@include tablet-only {
				width: 100%;
			}
			span {
				@include tablet {
					display: block;
					font-size: type-scale(+5);
					
				}
				@include mobile {
					background-color: $clr-secondary;
					border-radius: 20px;
					display: block;
					color: white !important;
					
				}
			}
		}
		
	@include m('front-page-teaching') {
		@include mobile-landscape {
			margin: 0 !important;
		}
	}
	@include m('translations-pricing') {
		@include tablet {
			margin-bottom: 5vh !important;
		}
	}
	}
		
	
	@include e('lead') {
		@include font-size(+3);
		font-weight: $thin;
		padding-bottom: 1vh;
		text-align: center;
		width: 70%;
		margin: 0 auto;
		@include mobile {
			padding-bottom: 0;
			width: 100%;
		}
		@include mobile-landscape {
			font-size: type-scale--mobile(+1);
			padding-left:3%;
			padding-right: 3%;
		}
		@include iphone5-landscape {
			font-size: type-scale--mobile(+1);
		}
		@include tablet-only {
			width: 80%;
		}
		
		
		@include m('front-page-services') {
			@include tablet {
				
				color: white;
				text-align: left;
				padding-left: 30px;
				display: inline-block;
				
				
			}
			@include tablet-only {
				width: 90%;
			}
			@include medium-device {
				width: 70%;
			}
			
			@include mobile {
				width: 95%;
				color: white;
				margin-bottom: 4rem;
					
			}
			margin-bottom: 4vh;
			width:100%;
			padding: 0;
		}
		@include m('front-page-teaching') {
			color: white !important;
			@include mobile {
				width: 80%;
			}
			@include mobile-landscape {
				margin: 0 !important;
			}
		}
		
	}
}


.subsection {
	// jeszcze trzeba napisać container-icon
	@include e('headline') {
		@include font-size(+0.5);
		font-weight: 600;
		text-align: center;	
		margin-bottom: 2vh;
		margin: 0 auto;
		min-height: 3rem;
		margin-top: 2vh;
		@include mobile {
			margin-bottom: 0;
			width:75vw;
			min-height: type-scale--mobile(+0.5);
		}
		@include mobile-landscape {
			margin-bottom: 0;
			width: auto;
			min-height: 2.5rem;
		}
		@include tablet {
		width:90%;
		}
		@include medium-only {
			font-size: type-scale(+2);
		}
		
		@include m('front-page-services') {
			@include mobile {
				color: $clr-secondary; 
			}
			@include iphone5-landscape {
				font-size: type-scale--mobile(0);
			}
			@include tablet {
				color: black !important;
			}
		}
		@include m('front-page-services-core') {
			@include mobile {
				color: $clr-primary;
			}
		}
		@include m('learn') {
			color: white;
			span {
				background-color: $clr-tertiary;
			}
		}
	}
	@include e('text') {
		@include font-size(0);
		color: black;
		font-weight: 300;
		text-align: center;
		padding-bottom: 3vh;
		padding-left: 5%;
		padding-right: 5%;
		@include mobile {
			margin-top: type-scale--mobile(-1);
		}
		@inlude mobile-landscape {
			margin-top: 0;
		}
		@include medium-device {
			font-size: type-scale(+0.5);
		}
		@include m('front-page-services') {
			@include tablet {
				color: black;
			}	
		}
	}

	@include e('link') {
		color: white !important;
		text-decoration: underline;
		font-size: 0.9em;
	}
	
	
}




// Sidepage Terms and conditions


.subpage-header-title {
	border: 3px solid white !important;
	color: white !important;
	padding: 5px;
	font-size: 600;
	@include font-size(+5);
	@include large {
		font-size: type-scale(+4);
	}
	@include mobile {
		font-size: type-scale--mobile(+2);
	}
	@include iphone5 {
		font-size: type-scale--mobile(+2);
	}
	@include mobile-landscape {
		margin-top: 10vh;
		font-size: type-scale--mobile(+2);
	}
	@include iphone5-landscape {
		margin-top: 10vh;
		font-size: type-scale--mobile(+2);
	}

	
		
}


// Portfolio section 
.portfolio-overlay-text-hover {
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba($clr-secondary, 0.5);
	color: white;
	font-weight: 600;
	@include font-size(+3);
	padding: 10px;
	margin: 0;
	text-align: center;
	@extend %flex-centered;
	@include mobile-landscape {
		font-size: type-scale--mobile(-1);
	}
}



.portfolio-overlay-text {
	color: white;
	text-align: center;
	font-weight: $bold;	
	margin-bottom: 0;
	@include font-size(+3);
	@include mobile-landscape {
		font-size: type-scale--mobile(0);
	}
	
}

// Contact form

.contact-form-lead {
	
	font-size: type-scale(+5);
	color: white;
	font-weight: $regular;
	width: 75%;
	margin: 0 auto;
	line-height: 4.2rem;
	margin-bottom: 2vh;
	@include medium-device-portrait {
		margin-bottom: 0;
	}
	&-lesson {
		color: $clr-adjacent-2;
		font-weight: $ultra-bold;
		&:visited {
			color: $clr-adjacent-2 !important;
		}
		&:focus {
			text-decoration: none;
		}
		&:hover {
			font-weight: $ultra-bold;
			text-decoration: underline;
			color: $clr-adjacent-2 !important;
		}
		&:active {
			text-decoration: underline;
			color: $clr-adjacent-2 !important;
		}
	}
	&-translation {
		color: $clr-adjacent-1;
		font-weight: $ultra-bold;
		&:visited {
			color: $clr-adjacent-1 !important;
			
		}
		&:focus {
			text-decoration: none;
		}
		&:hover {
			font-weight: $ultra-bold;
			text-decoration: underline;
			color: $clr-adjacent-1 !important;
		}
		&:active {
			
			color: $clr-adjacent-1 !important;
		}
	}
	@include mobile {
		width: 90%;
		font-size: type-scale--mobile(+3);
		line-height: 2.5rem;
		margin-bottom: 0;
	}
	@include tablet-only {
		width:100%;
	}
	
}

.address {
	margin: 0 auto;
}

// Menu text below hamburger

.menutext_hamburger {
	color: black;
	margin: 0 auto;
	font-weight: 600;
	font-size: type-scale(-1); //tutaj bym raczej zostawił
	display: block;
	text-align: center;
	width: 100%;
	height: type-scale(-1);
	
	@include mobile {
		
		
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		
	}
	
    
}
.text-mobile-white {
	@include mobile {
		color: white !important;
	}
}
.col-translation-mobile {
	@include mobile {
		padding-bottom: 10%;
	}
	@include mobile-landscape {
		padding: 0;
	}
}

//new design learn pages

.square2-learn h2, .square3-learn h2, .square4-learn h2 {
	@include font-size(+4);
	font-weight: $bold !important;
	color: white;
	
	@include medium-device-portrait {
		font-size: 3rem !important;
	}
	span {
		@include mobile-landscape {
			font-size: type-scale--mobile(+2);
		}
	}
}


//footer {
.footer-copy {
	@include mobile {
		margin-top: 5%;
	}
		p:nth-child(2) {
			text-align:center;
			color: white;
				a {
					color:inherit;
					}
			}
		p:nth-child(3), p:nth-child(4) {
			text-align:center;
			
			color: white;
				a {
					color:inherit;
					}
			}
}
//Services

.services-headlines {
	text-align: center !important;
	@include font-size(+2);
	font-weight: $bold;
	margin-top: 1vh !important;
	@include mobile {
		margin-top: 7% !important;
		
	}
	@include mobile-landscape {
		margin-top: 5% !important;
	}
	
	
}

// Learn

.signature-learn  {
	width: 100% !important;
	text-decoration: none !important;
	text-align: center;
	@include mobile {
		font-size: 2.5rem;
		font-weight: $ultra-bold;
		
	}
	@include mobile-landscape {
		font-size: type-scale--mobile(+1);
	}
	@include tablet-only {
		padding-bottom: 5vh;
		font-size: type-scale--mobile(+4);
	}
	
	@include medium-device-portrait {
			padding-bottom: 5vh;
	}
		span {
		color:white !important;	
		background-color: $clr-primary !important;	
		padding-left:1%;
		padding-right:1%;
			@include mobile {
				padding: 0.8%;
				background-color: $clr-tertiary !important;
			}
			
	}
	
}

.signature {
	font-size: type-scale(+5);
	font-family: $base-font-family;
	font-weight: $ultra-bold;
	color: $clr-primary;
	@include tablet {
		display: block;
		width: 80%;
		text-decoration:underline;
	}
	@include tablet-only {
		font-size: type-scale--mobile(+4);
	}
	@include mobile {
		position: absolute;
		bottom: 0;
		padding: 3%;
		background-color: rgba(255, 255, 255, 0.8);
		font-size:type-scale--mobile(+3);
	}
	@include mobile-landscape {
		margin: 0;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: inherit;
		position: relative;
		font-size: type-scale--mobile(+0.5);
		text-align:center;
	}
}
.signature-teaching {
	@include mobile {
		font-size: type-scale--mobile(+5);
		text-align: center;
	}
	a {
		color: inherit !important;
	}
}


.square-learn {
	a {
	color: $clr-primary !important;
		
	}
}
.icon-headline-learn {
	
	span {
		line-height: 1.7rem;
		padding: 1%;
		@include mobile {
			line-height: 2.5rem;
			padding-bottom: 0.1rem;
		}
	}
}

.button-teaching {
	font-size: type-scale(+5);
	font-weight: $bold;
	margin-bottom: 10vh;
	@extend %flex-centered;
	width: 100%;
		a {
			border-radius: 20px;
			color: white !important;
			border: 3px solid white;
			padding: 0.5%;
			&:hover {
				color: $clr-primary !important;
				text-decoration:none !important;
				border: 3px solid $clr-primary;
				font-weight: $bold !important;
			}
		}
	@include mobile {
		margin-bottom: 10vw;
		margin-top: 10vw;
		font-size:type-scale--mobile(5);
	}
	@include mobile-landscape {
		margin: 0 !important;
	}
	
}
.underline {
	text-decoration: underline !important;
}
footer {
	@include font-size(-1);
	font-weight:$thin;
}
.reduce-font {
	@include tablet-only {
		font-size: type-scale--mobile(-1);
	}
}
.slogan {
	font-family: $title-font-family;
    font-size: type-scale(+1);
    line-height: 7vh;
    margin: 0;
    padding-left: 30px;
    font-weight: 800;
    color: $clr-secondary;
	span {
		background-color: $clr-secondary;
		border: 4px solid $clr-secondary;
		border-radius: 10px;
		color: white;
	}
}















