// All

%flex-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

// Pics

%learnlanguage {
	background-size: cover;
	background-position: center;
	height: 50vh;
    margin:0;
    padding: 0;
	position: relative;
}

// Backgrounds and borders {
%fullpage-bgimage {
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
}




