// Media queries

@mixin mobile {
	@media all and(max-width: #{$mobile-max}) {
		@content;
			}
}

@mixin tablet {
	@media all and (min-width: #{$tablet}) {
		@content;
			}
}
@mixin tablet-only {
	@media all and (max-width: 991px) and (min-width: #{$tablet}) {
		@content;
	}
}

@mixin medium-device {
	@media all and (min-width: #{$medium}) {
		@content;
	}
}
@mixin medium-only {
	@media all and(min-width: #{$medium}) and (max-width: (#{$large} -1)) {
		@content;
	}
}
@mixin medium-device-portrait {
	@media all and (min-width:#{$medium}) and (orientation: portrait) {
		@content;
	}
}
@mixin large {
	@media all and (min-width: #{$large}) {
		@content;
	}
}


@mixin large-screen {
	@media all and (min-width: #{$large-screen}) {
		@content;
			}
}

//Background images src 

@mixin bg-img($image) {
	background-image: url('#{$path-img}/#{$image}');
	background-repeat: no-repeat;
}

// font sizes

@function type-scale($level) {
  @return map-get($type-scale, $level);
}
