$base-font-size: 1.1vw;
$base-font-weight: 400;
$base-font-family: 'Lato', sans-serif;

$title-font-family: 'Droid Serif', sans-serif;

$base-color-1: teal;
$base-color-2: purple;
$nav-and-background-color: rgba(105, 105, 105, 0.8);
