// Fonts

$base-font-size: 1.1vw;
$base-font-size-mobile: $base-font-size * 3; 
$base-font-weight: 400;
$base-font-family: 'Lato', sans-serif;
$title-font-family: 'Droid Serif', sans-serif;
$hand-writing-font-family: 'Indie Flower', cursive;

// Colors

$base-color-1: teal;
$base-color-2: #4c133b;
$base-color-3: rgb(0, 63, 128);
$adjacent-bg-color: rgb(0, 128, 0);
$nav-and-background-color: rgba(105, 105, 105, 1);
$menu-color: $base-color-2 + #696969;

//Assets paths

$path-img: 'images';
$path-icons: '../icons';

// Screen sizes 

$mobile-max: 767px;
$tablet: 768px;
/*small-screen: 
$reg-screen: */
$large-screen: 1600px;
