// Fonts

$base-font-size: 1.1vw;
$base-font-size-mobile: calc(13px + 1.15vw);
$base-font-family: 'Nunito', sans-serif;
$title-font-family: 'Droid Serif', sans-serif;

//Font weights

$thin: 300;
$regular: 400;
$bold: 600;
$ultra-bold: 900;

$base-font-weight: $regular;

//Font sizes

$type-scale: (
  -1: 0.80rem,  // small text
  0: 1rem,      // body text
  +1: 1.25rem,
  +2: 1.333rem,  // large text
  +3: 1.5rem,
  +4: 1.777rem,   // main heading
  +5: 3.157rem,
  max: 4rem // hero headline
	
);
$type-scale--mobile: (
	-1: 0.889rem,
	 0: 1rem,
	+1: 1.125rem,
	+2: 1.266rem,
	+3: 1.424rem,
	+4: 1.602rem,
	+5: 1.802rem,
	max: 2.027rem,
);


// Descriptive color names

$wine-berry: #4c133b;
$congress-blue: #003f80;
$pewter: #999b9a;
$jagged-ice: #c7deea;
$japanese-maple: #77010c;
$dove-gray: #696969;
$blaze-orange: #ff6400;


// Colors as used in stylesheet

	//colors used for main backgrounds and icons in front page and sidepages
$clr-primary: $wine-berry;
$clr-secondary: $congress-blue;
$clr-tertiary: $japanese-maple;

	//colors used less frequently
$clr-adjacent-1: teal;
$clr-adjacent-2: $blaze-orange;
$clr-adjacent-3: $pewter;
$clr-adjacent-4: $jagged-ice;
$clr-adjacent-5: $dove-gray;

$menu-color: $clr-primary + #696969;

	
//Assets paths

$path-img: 'images';
$path-icons: '../icons';

// Screen sizes 

$mobile-max: 767px;
$tablet: 768px;
$medium: 992px;
$large: 1200px;
/*small-screen: 
$reg-screen: */
$large-screen: 1600px;
